@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@font-face {
  font-family: "PT Serif";
  src: local("PT Serif Bold"), local("../fonts/ptserif/PTSerif-Bold"), url("../fonts/ptserif/ptserifbold.woff2") format("woff2"), url("../fonts/ptserif/ptserifbold.woff") format("woff"), url("../fonts/ptserif/ptserifbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4 {
  font-family: "PT Serif" !important;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  color: #fff !important;
}

.container {
  max-width: 1120px !important;
  padding: 0 !important;
}

.text-20 {
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 700;
}

.text-18 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
}

.arrow-down {
  display: block;
  margin-top: 184px;
  width: 100%;
  text-align: center;
}
.arrow-down svg {
  border-radius: 50%;
  transition: all 0.3s ease;
}
.arrow-down svg path {
  transition: all 0.3s ease;
}
.arrow-down:hover {
  cursor: pointer;
}
.arrow-down:hover svg {
  background: #fff;
}
.arrow-down:hover svg path {
  stroke: #000 !important;
}

.btn {
  padding: 17px 83px !important;
  border-radius: 30px !important;
  font-size: 18px !important;
}

.btn-light {
  color: #fff !important;
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.5) !important;
  transition: 0.3s;
}
.btn-light:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.btn-success {
  background-color: #64BD22 !important;
  width: 234px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.section-header {
  width: 100%;
  height: 100vh;
  background: url("../img/main-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.section-header .header {
  z-index: 101;
  border-bottom: 1px solid rgba(196, 196, 196, 0.3);
}
.section-header .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 81px;
}
.section-header .header-logo__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
.section-header .header-contacts {
  display: flex;
  gap: 20px;
}
.section-header .header-contacts-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.section-header .header-contacts-item__text {
  font-weight: 700;
  color: #fff;
}
.section-header .header-contacts-item__text a {
  color: #fff;
  text-decoration: none;
}
.section-header .header-contacts-item__btn {
  padding: 9px 27px !important;
  border-radius: 22px !important;
  margin-left: 12px;
  font-size: 16px !important;
}
.section-header .mobail-menu {
  display: none;
}
.section-header .burger {
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  transition: 0.3s;
}
.section-header .burger:hover {
  cursor: pointer;
}
.section-header .burger:hover .burger-line {
  cursor: pointer;
  background-color: #eee;
}
.section-header .burger-line {
  width: 32px;
  height: 4px;
  background-color: #fff;
}
.section-header .breadcrumb {
  margin-top: 20px;
  gap: 32px;
}
.section-header .breadcrumb:hover {
  cursor: pointer;
}
.section-header .breadcrumb .breadcrumb-item a {
  color: #000;
  text-decoration: none;
}
.section-header .main-title {
  font-size: 90px;
  line-height: 1.3 !important;
  font-family: "PT Serif";
  margin-top: 100px;
}
.section-header .main-subtitle {
  font-size: 20px;
  margin-top: 8px;
}
.section-header .main-btn {
  margin-top: 113px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px 55px !important;
  border-radius: 30px !important;
  border-color: #fff !important;
}

.home .breadcrumb-item,
.section-banner .breadcrumb-item {
  color: #fff;
}
.home .breadcrumb-item a,
.section-banner .breadcrumb-item a {
  color: #fff !important;
  text-decoration: none !important;
}

.section-contacts .breadcrumb-item,
.section-baikal-map .breadcrumb-item,
.section-camp .breadcrumb-item {
  color: #76767A;
}
.section-contacts .breadcrumb-item a,
.section-baikal-map .breadcrumb-item a,
.section-camp .breadcrumb-item a {
  color: #76767A;
  text-decoration: none;
}

.section-article {
  padding: 64px 0;
}
.section-article .articles-wrap {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}
.section-article .article {
  border: 1px solid #D9D9DE;
  border-radius: 6px;
  width: 256px;
}
.section-article .article-title {
  color: #000;
  font-family: "Roboto";
  font-weight: 500;
  padding: 12px 20px;
  transition: 0.3s ease;
}
.section-article .article-title:hover {
  color: #D51A1A;
  cursor: pointer;
}

.section-advantages {
  background-color: rgba(112, 207, 41, 0.07);
  color: #000;
  padding-top: 44px;
  padding-bottom: 80px;
}
.section-advantages .section-heading {
  margin-bottom: 50px;
}
.section-advantages .advantages-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}
.section-advantages .advantages-block {
  width: 252px;
}
.section-advantages .advantages-icon {
  margin-bottom: 16px;
}
.section-advantages .advantages-text {
  color: #333;
}

.section-offers {
  color: #000;
}
.section-offers .offers-wrap {
  padding-bottom: 80px;
  border-bottom: 1px solid #D9D9DE;
}
.section-offers .section-heading {
  margin-top: 76px;
  margin-bottom: 40px;
}
.section-offers .offer-group-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.section-offers .offer-group-1-1 {
  width: 544px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.section-offers .offer-group-2 {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.section-offers .offer-block {
  width: 256px;
  height: 256px;
  border-radius: 6px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3ss ease;
}
.section-offers .offer-block:hover {
  cursor: pointer;
  background-size: 110%;
  transition: all 0.5s ease;
}
.section-offers .offer-block-max {
  width: 544px;
  height: 544px;
  background: url("../img/offer-max.png") 50% 50% no-repeat;
  background-size: 100%;
  border-radius: 6px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background 0.3s ease;
}
.section-offers .offer-block-max:hover {
  cursor: pointer;
  background-size: 110%;
  transition: all 0.5s ease;
}
.section-offers .offer-title {
  padding: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  z-index: 2;
}
.section-offers .offer-text {
  padding: 16px;
  color: #fff;
  font-size: 16px;
  z-index: 2;
}
.section-offers .offer-block-1 {
  background: url("../img/offer-1.png") 50% 50% no-repeat;
  background-size: 100%;
}
.section-offers .offer-block-2 {
  background: url("../img/offer-2.png") 50% 50% no-repeat;
  background-size: 100%;
}
.section-offers .offer-block-3 {
  background: url("../img/offer-3.png") 50% 50% no-repeat;
  background-size: 100%;
}
.section-offers .offer-block-4 {
  background: url("../img/offer-4.png") 50% 50% no-repeat;
  background-size: 100%;
}
.section-offers .offer-block-5 {
  background: url("../img/offer-5.png") 50% 50% no-repeat;
  background-size: 100%;
}
.section-offers .offer-block-6 {
  background: url("../img/offer-6.png") 50% 50% no-repeat;
  background-size: 100%;
}
.section-offers .offer-block-7 {
  background: url("../img/offer-7.png") 50% 50% no-repeat;
  background-size: 100%;
}
.section-offers .offer-block-8 {
  background: url("../img/offer-8.png") 50% 50% no-repeat;
  background-size: 100%;
}
.section-offers .offer-block-9 {
  background: url("../img/offer-9.png") 50% 50% no-repeat;
  background-size: 100%;
}
.section-offers .offer-block-10 {
  background: url("../img/offer-10.png") 50% 50% no-repeat;
  background-size: 100%;
}
.section-offers .offer-block-11 {
  background: url("../img/offer-11.png") 50% 50% no-repeat;
  background-size: 100%;
}
.section-offers .offer-block-12 {
  background: url("../img/offer-12.png") 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}
.section-offers .offer-next-title {
  text-align: center;
}

.section-map {
  padding-bottom: 80px;
}
.section-map .section-heading {
  margin-top: 70px;
  margin-bottom: 30px;
  color: #000;
}
.section-map .video-block-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 76px;
  color: #000;
  gap: 32px;
}
.section-map .video-block-info {
  width: calc(40% - 16px);
}
.section-map .video-block-info__text {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
.section-map .video-block-info__next {
  color: #76767A;
  text-decoration: underline;
}
.section-map .video-block__video {
  width: calc(60% - 16px);
  height: 380px;
  background: url("../img/video-back.png") 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-map .video-block__video svg {
  z-index: 1;
}

.section-gallery {
  padding-bottom: 80px;
  background: rgba(63, 169, 245, 0.07);
}
.section-gallery .section-heading {
  padding-top: 44px;
  margin-bottom: 60px;
  color: #000;
  display: flex;
  justify-content: space-between;
}
.section-gallery .section-heading a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  margin-right: 35px;
}
.section-gallery .carousel-controls__wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-gallery .gallery-img__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.section-gallery .gallery-img {
  border-radius: 6px;
  width: 352px;
  height: 256px;
}
.section-gallery .carousel-control-next, .section-gallery .carousel-control-prev {
  position: relative !important;
}

.section-info {
  color: #000;
}
.section-info .section-heading {
  margin-top: 80px;
  margin-bottom: 45px;
  text-transform: uppercase;
}
.section-info .info-wrap {
  display: flex;
  gap: 32px;
  padding-bottom: 54px;
  border-bottom: 1px solid #D9D9DE;
}
.section-info .statistic-wrap {
  margin-top: 40px;
  margin-bottom: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-info .statistic-title {
  font-family: "PT Serif";
  font-size: 58px;
  color: #64BD22;
  font-weight: 700;
}
.section-info .statistic-text {
  font-weight: 500;
  font-size: 20px;
}

.section-feedback {
  background: #F5F5F7;
  color: #000;
  padding-bottom: 76px;
}
.section-feedback .section-heading {
  padding-top: 50px;
  margin-bottom: 50px;
}
.section-feedback .feed-baack__wrap {
  max-width: 832px;
  margin: 0 auto;
}
.section-feedback .form-control {
  margin: 12px 0;
  height: 44px;
  border-radius: 0;
}
.section-feedback .form-control.mb-24 {
  margin-bottom: 24px;
}
.section-feedback textarea {
  height: 112px !important;
}
.section-feedback .feedback-btn-wrap {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-feedback .feedback-btn-wrap input:hover {
  cursor: pointer;
}

.footer a {
  text-decoration: none !important;
  opacity: 0.8;
}
.footer li {
  margin-bottom: 12px;
}
.footer h5 {
  font-size: 16px;
  margin-bottom: 14px;
}
.footer h6 {
  font-size: 14px;
}
.footer .container {
  padding: 40px 0 !important;
}
.footer .__has-border {
  padding-bottom: 16px;
  border-bottom: 1px solid #ffffff33;
}
.footer .row._sub {
  margin-top: 30px;
}
.footer .row._sub a {
  font-size: 14px;
}
.footer .row._sub li {
  margin-bottom: 0;
}
.footer .text-right {
  text-align: right;
}
.footer .burger {
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  transition: 0.3s;
}
.footer .burger:hover {
  cursor: pointer;
}
.footer .burger:hover .burger-line {
  cursor: pointer;
  background-color: #eee;
}
.footer .burger-line {
  width: 32px;
  height: 4px;
  background-color: #fff;
}

@media (max-width: 1184px) {
  .container {
    padding: 0 32px !important;
  }

  .section-article .article {
    width: calc(33% - 24px);
  }

  .article-img img {
    width: 100%;
  }

  .section-advantages .advantages-block {
    width: 22%;
  }

  .section-offers .offer-block {
    width: calc(50% - 16px);
  }

  .section-offers .offer-group-1-1,
.section-offers .offer-group-1-2 {
    width: calc(50% - 16px);
  }

  .offer-group-2 .offer-block {
    width: calc(25% - 24px);
  }

  .section-offers .offer-block-max {
    width: 100%;
  }

  .section-offers .offer-group-2 {
    justify-content: space-between;
  }

  .section-gallery .gallery-img__wrapper {
    justify-content: space-between;
  }

  .section-gallery .gallery-img {
    width: calc(33% - 24px);
    overflow: hidden;
  }

  .footer .container {
    padding: 40px 32px !important;
  }
}
.modal-feedback {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.modal-feedback.active {
  display: flex;
}
.modal-feedback .modal-inner {
  width: 320px;
  height: 433px;
  background-color: #F5F5F7;
}
.modal-feedback .modal-inner #modal-feedback-close {
  position: absolute;
  margin-top: 16px;
  margin-left: 290px;
  right: auto;
  top: auto;
}
.modal-feedback .modal-inner h2 {
  font-size: 22px !important;
  color: #000;
  margin-top: 45px;
  text-align: center;
}
.modal-feedback .modal-inner .col {
  margin-top: 16px;
}
.modal-feedback .modal-inner .btn {
  display: block;
  margin: 0 16px;
  padding: 10px 60px !important;
  margin-top: 28px;
}
.modal-feedback .modal-inner .feedback-agreement {
  margin: 0 16px;
  display: flex;
  align-items: center;
  gap: 22px;
}
.modal-feedback .modal-inner input.checkbox {
  width: 26px;
  height: 26px;
}

@media (max-width: 1022px) {
  .header-contacts-item.__contact {
    display: none;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 64px !important;
  }

  .section-header .main-subtitle {
    font-size: 18px;
  }

  .section-article {
    padding: 40px 0;
  }

  .section-article .article {
    width: calc(50% - 16px);
  }

  .section-advantages .advantages-block {
    width: calc(50% - 16px);
  }

  .section-offers .offer-group-1-1, .section-offers .offer-group-1-2 {
    width: 100%;
  }

  .offer-group-2 .offer-block {
    width: calc(50% - 16px);
  }

  .section-heading {
    margin-top: 36px !important;
    margin-bottom: 24px !important;
  }

  .section-offers .offers-wrap {
    padding-bottom: 40px;
  }

  .section-map .video-block-wrap {
    margin-top: 34px;
  }

  .section-map .video-block-info {
    width: 100%;
  }

  .section-map .video-block__video {
    width: 100%;
  }

  .section-gallery .gallery-img {
    width: calc(50% - 16px);
  }

  .info-img {
    display: none;
  }

  .section-info .statistic-title {
    font-size: 36px;
  }

  .section-info .statistic-text {
    font-size: 16px;
  }

  .feed-baack__wrap .col {
    width: 100% !important;
    flex: 100% !important;
  }

  .feed-baack__wrap .col.__count {
    width: 50% !important;
    flex: 50% !important;
  }

  .feedback-agreement a {
    font-size: 14px;
  }

  .btn {
    padding: 15px 75px !important;
  }

  #carouselExampleControls {
    height: 544px;
    overflow: hidden;
  }

  .footer-burger {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .footer-burger h5 {
    margin: 0;
  }

  .footer .burger {
    display: flex;
  }

  .footer .__has-border .col-lg {
    display: none;
  }
}
@media (max-width: 542px) {
  .section-header .burger {
    display: flex;
  }

  .section-header .mobail-menu {
    background-color: #fff;
    width: 100vw;
    height: 100%;
    left: 0;
    z-index: 99;
    display: block;
    position: fixed;
    overflow-y: scroll;
    transform: translateX(calc(100%));
    transition: ease 0.3s;
  }
  .section-header .mobail-menu.active {
    transform: translateX(0) !important;
  }

  .mobail-menu-close-btn {
    position: absolute;
    right: 17px;
    top: 17px;
  }

  .mobail-menu-wrap {
    background-color: #fff;
    color: #000;
    padding: 12px 20px;
    z-index: 10;
  }
  .mobail-menu-wrap a {
    text-decoration: none;
    line-height: 2.1;
  }
  .mobail-menu-wrap h5 {
    margin-top: 12px;
  }
  .mobail-menu-wrap .__has-border {
    padding-bottom: 20px;
    border-bottom: 1px solid #D9D9DE;
  }
  .mobail-menu-wrap .header-contacts-item__text {
    color: #000;
  }
  .mobail-menu-wrap .mobail-menu-contacts-item {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-top: 23px;
  }
  .mobail-menu-wrap .btn {
    padding: 9px 25px !important;
    width: 280px;
  }
  .mobail-menu-wrap .feedback-btn-wrap {
    height: 160px;
  }

  .section-header .header-contacts-item__btn {
    display: none;
  }

  h1 {
    font-size: 40px !important;
  }

  .section-header .main-subtitle {
    font-size: 14px !important;
  }

  .section-header .main-btn {
    padding: 9px 43px !important;
    margin: 0 auto;
    margin-top: 113px !important;
    width: 227px;
    display: block;
  }

  .arrow-down {
    margin-top: 72px;
  }

  .container {
    padding: 0 16px !important;
  }

  .section-article .article {
    width: 100%;
  }

  .section-article {
    padding: 16px 0;
  }

  .section-article .articles-wrap {
    gap: 16px;
  }

  .section-heading {
    font-size: 22px !important;
  }

  .section-advantages {
    padding-bottom: 60px;
  }
  .section-advantages .section-heading {
    margin: 0 !important;
    margin-bottom: 20px !important;
  }

  .section-advantages .advantages-wrap {
    gap: 16px;
  }
  .section-advantages .advantages-wrap .advantages-block {
    width: 100%;
    text-align: center;
  }

  .section-offers .offer-block {
    width: 100%;
  }
  .section-offers .offer-block-max {
    height: 256px;
  }

  h2 {
    font-size: 22px !important;
  }

  .section-map .video-block-info__text {
    font-size: 16px;
  }

  .section-map {
    padding-bottom: 12px;
  }

  .section-gallery .gallery-img {
    width: 100%;
  }
  .section-gallery .gallery-img img {
    width: 100%;
  }

  .section-gallery .gallery-img__wrapper {
    gap: 16px;
  }

  #carouselExampleControls {
    height: 256px;
    overflow: hidden;
  }

  .section-gallery .section-heading a {
    position: absolute;
    margin-top: 150%;
    z-index: 1;
    width: 100%;
    left: 0;
    text-align: center;
  }

  .section-info .info-wrap {
    padding-bottom: 25px;
  }

  .section-info .statistic-wrap {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .statistic {
    width: 50% !important;
  }

  .feed-baack__wrap .col.__count {
    width: 100% !important;
    flex: 100% !important;
  }

  .col-3 {
    flex: calc(50% - 8px) !important;
    width: calc(50% - 8px) !important;
    display: flex;
    gap: 16px;
  }

  .col-9 {
    width: 100% !important;
  }

  .feedback-btn-wrap {
    flex-wrap: wrap;
  }

  .feedback-btn {
    order: 2;
    display: block !important;
    margin: 0 auto;
    margin-top: 25px;
  }

  .feedback-agreement {
    order: 1;
  }

  .section-feedback {
    padding-bottom: 44px;
  }

  .btn {
    padding: 15px 60px !important;
  }

  .section-header .breadcrumb {
    display: none;
  }

  .section-header .main-title {
    margin-top: 40px;
  }

  .text-20 {
    font-size: 16px;
  }

  .text-18 {
    font-size: 14px;
  }
}
.recreation_center {
  color: #000 !important;
}
.recreation_center .btn {
  padding: 7px 30px !important;
  border-radius: 22px !important;
  font-size: 16px !important;
}
.recreation_center header .section-header {
  background: #fff;
  height: 140px;
}
.recreation_center header .header-contacts-item__text {
  color: #000;
}
.recreation_center header #feedback-modal-btn {
  color: #0050B2 !important;
  border: 1px solid #0050B2 !important;
}
.recreation_center header .breadcrumb-item {
  color: #000;
}
.recreation_center .section-banner {
  width: 100%;
  height: 496px;
  background: url("../img/banner.jfif") 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 20px;
}
.recreation_center .section-banner.__banner-2 {
  background: url("../img/banner-2.jfif") 50% 50% no-repeat;
}
.recreation_center .section-banner.__banner-3 {
  background: url("../img/banner-3.png") 50% 50% no-repeat;
}
.recreation_center .main-title {
  margin: 180px auto;
  text-align: center;
}
.recreation_center .breadcrumb-item.active {
  color: #fff;
  font-weight: 500;
}
.recreation_center .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
.recreation_center .section-card {
  margin-bottom: 80px;
}
.recreation_center .section-card .card-tooltip {
  font-size: 20px;
  margin-top: 80px;
  margin-bottom: 12px;
}
.recreation_center .section-card .card {
  height: 352px;
  margin-top: 32px;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  background-color: #F5F5F7;
  border-radius: 6px;
  overflow: hidden;
}
.recreation_center .section-card .card .card-img {
  width: 33%;
}
.recreation_center .section-card .card .card-img img {
  width: 100%;
  height: 100%;
}
.recreation_center .section-card .card .card-description {
  width: 33%;
  padding: 16px 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}
.recreation_center .section-card .card .card-description .card-description__title {
  font-size: 24px;
  font-weight: 700;
}
.recreation_center .section-card .card .card-description .card-description__text {
  margin-top: 16px;
  height: 200px;
  overflow: hidden;
}
.recreation_center .section-card .card .card-menu {
  border-left: 1px solid #D9D9DE;
  width: 33%;
  padding: 16px 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}
.recreation_center .section-card .card .card-menu .card-menu-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #76767A;
  font-weight: 500;
}
.recreation_center .section-card .card .card-menu .card-menu-items {
  margin-top: 18px;
  max-height: 280px;
}
.recreation_center .section-card .card .card-menu .card-menu-items.__has-scroll-bar {
  overflow-y: scroll;
}
.recreation_center .section-card .card .card-menu .card-menu-items.__has-scroll-bar::-webkit-scrollbar {
  border-radius: 4px;
  width: 8px;
}
.recreation_center .section-card .card .card-menu .card-menu-items.__has-scroll-bar::-webkit-scrollbar-track {
  background: #D9D9DE;
  border-radius: 4px;
}
.recreation_center .section-card .card .card-menu .card-menu-items.__has-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #76767A;
  border-radius: 4px;
}
.recreation_center .section-card .card .card-menu .card-menu-item {
  color: #0050B2;
  line-height: 2.5;
}

@media (max-width: 1088px) {
  .card-menu {
    display: none;
  }

  .recreation_center .section-card .card .card-description,
.recreation_center .section-card .card .card-img {
    width: 50%;
  }

  .recreation_center .btn {
    margin-top: 20px;
  }
}
@media (max-width: 736px) {
  .recreation_center .section-card .card {
    height: auto;
    flex-wrap: wrap;
  }

  .recreation_center .section-card .card .card-description,
.recreation_center .section-card .card .card-img {
    width: 100%;
  }

  .recreation_center .section-card .card .card-description .card-description__title {
    font-size: 18px;
  }

  .recreation_center .section-card .card .card-description .card-description__text {
    font-size: 14px;
  }

  .recreation_center .section-card .card .card-description {
    padding: 0 16px;
  }

  .recreation_center .section-card .card .card-description .card-description__text {
    height: auto;
  }

  .recreation_center .section-card .card {
    margin-top: 16px;
  }

  .recreation_center header .section-header {
    height: 82px;
  }

  .section-header .breadcrumb {
    display: none;
  }

  .section-header .burger-line {
    background-color: #000;
  }
}
.card-menu-items {
  transition: 0.3s;
}
.card-menu-items:hover {
  cursor: pointer;
}

.section-header._box-shadow {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.section-camp h1 {
  font-size: 44px;
}
.section-camp img {
  width: 100%;
}
.section-camp .camp__btn {
  margin-top: 32px;
}
.section-camp .camp__btn .btn {
  border-radius: 25px !important;
  display: block !important;
  display: flex !important;
}
.section-camp .camp-wrap {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-bottom: 80px;
  border-bottom: 1px solid #D9D9DE;
}
.section-camp .camp-wrap._hasnt-border {
  border-bottom: 0;
}
.section-camp .breadcrumb-item {
  color: #76767A;
  margin-top: 25px;
  margin-bottom: 75px;
}
.section-camp .breadcrumb-item.active {
  color: #76767A !important;
  font-weight: 400;
}
.section-camp .breadcrumb-item::before {
  color: #76767A !important;
}
.section-camp .camp-side-bar {
  min-width: 352px;
  height: 786px;
  background-color: #F5F5F7;
  border-radius: 6px;
  padding: 16px 24px;
}
.section-camp .camp-side-bar .card-menu-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #76767A;
  font-weight: 500;
}
.section-camp .camp-side-bar .card-menu-item {
  color: #0050B2;
  line-height: 2.5;
}
.section-camp .camp-side-bar .card-menu-item.active {
  color: #64BD22;
  font-weight: 700;
}
.section-camp .camp-img {
  margin-top: 50px;
  border-radius: 6px;
  overflow: hidden;
}
.section-camp .camp-text {
  font-size: 18px;
  margin-top: 25px;
}

.section-camp-catalog {
  padding-top: 60px;
  padding-bottom: 80px;
}
.section-camp-catalog .section-heading {
  font-family: "Roboto" !important;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 48px;
}
.section-camp-catalog .article {
  border: 1px solid #D9D9DE;
  border-radius: 6px;
  width: calc(33% - 24px);
}
.section-camp-catalog .catalog__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}
.section-camp-catalog .article-title {
  height: 61px;
  color: #000;
  font-family: "Roboto";
  font-weight: 500;
  padding: 12px 20px;
  transition: 0.3s ease;
}
.section-camp-catalog .article-title:hover {
  color: #D51A1A;
  cursor: pointer;
}
.section-camp-catalog .article-text {
  padding: 12px 20px;
  padding-top: 0px;
  color: #333;
}
.section-camp-catalog .article-img img {
  width: 100%;
  height: 224px;
}

@media (max-width: 1088px) {
  .camp-side-bar {
    display: none;
  }

  .section-camp-catalog .article-img img {
    height: 200px;
  }
}
@media (max-width: 768px) {
  .section-camp .breadcrumb-item {
    margin-bottom: 30px;
  }

  .camp-content h1 {
    font-size: 44px !important;
  }

  .section-camp .camp-img {
    margin-top: 40px;
  }

  .section-camp .camp-wrap {
    padding-bottom: 60px;
  }

  .section-camp-catalog {
    padding-bottom: 40px;
  }

  .section-camp-catalog {
    padding-top: 40px;
  }

  .section-camp-catalog .article {
    width: calc(50% - 16px);
  }
}
@media (max-width: 503px) {
  .section-camp .breadcrumb-item {
    margin-top: 7px;
    margin-bottom: 20px;
  }

  .camp-content h1 {
    font-size: 29px !important;
  }

  .section-camp .camp-wrap {
    padding-bottom: 40px;
  }

  .section-camp-catalog {
    padding-bottom: 20px;
  }

  .section-camp-catalog {
    padding-top: 20px;
  }

  .section-camp-catalog .section-heading {
    font-size: 20px !important;
  }

  .section-camp-catalog .article {
    width: 100%;
  }

  .section-camp-catalog .article-img img {
    height: auto;
  }
}
.section-room {
  margin-top: 40px;
}
.section-room .section-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.section-room .section-heading h3 {
  font-family: "Roboto" !important;
  font-size: 30px;
  font-weight: 700;
}
.section-room .section-heading span {
  color: #0050B2;
  display: flex;
  gap: 12px;
  align-items: center;
  transition: 0.3s;
}
.section-room .section-heading span:hover {
  cursor: pointer;
}
.section-room .room {
  margin-top: 32px;
  background-color: #F5F5F7;
  padding: 24px;
}
.section-room .room .room__heading {
  display: flex;
  justify-content: space-between;
}
.section-room .room .room__heading .room__title {
  font-weight: 700;
  font-family: "Roboto" !important;
  font-size: 24px;
}
.section-room .room .room__heading .room__price {
  font-weight: 500;
  font-family: "Roboto" !important;
  font-size: 18px;
}
.section-room .room .room-wrap {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.section-room .room .room-wrap .room__img img {
  width: 254px;
  border-radius: 6px;
}
.section-room .room .room-wrap a {
  color: #76767A;
}

@media (max-width: 768px) {
  .room-wrap {
    flex-wrap: wrap;
    gap: 0;
  }

  .section-room .room .room__heading {
    flex-wrap: wrap;
  }

  .section-room .room {
    padding: 16px;
    font-size: 14px;
  }

  .room__img {
    width: 100%;
    order: 1;
  }

  .roon__info {
    order: 2;
  }

  .section-room .room .room-wrap .room__img img {
    width: 100%;
  }

  .section-room .room .room__heading .room__title {
    font-size: 18px;
  }

  .section-room .room .room__heading .room__price {
    font-size: 14px;
  }

  .section-room .section-heading {
    flex-wrap: wrap;
  }

  .section-room .section-heading h3 {
    font-size: 20px;
  }

  .section-room .section-heading span {
    font-size: 16px;
  }
}
.section-text .text-wrap {
  max-width: 826px;
  font-size: 18px;
  margin: 60px 0;
}

.section-camp-catalog.__in-excursions_list {
  padding-top: 0;
}
.section-camp-catalog.__in-excursions_list .article-title {
  min-height: 84px;
  height: auto;
}

@media (max-width: 768px) {
  .section-text .text-wrap {
    margin: 30px 0;
  }
}
.section-card.__typical .card .card-description {
  width: 66%;
  margin-bottom: 24px;
}
.section-card.__typical .card .btn__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 1088px) {
  .section-card.__typical .btn__text {
    display: none;
  }

  .section-card.__typical .card .card-description .card-description__text {
    height: 170px;
  }
}
@media (max-width: 768px) {
  .section-card.__typical .card .card-description {
    width: 100%;
  }
}
.section-cruis .heading {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 60px;
}
.section-cruis .cruis-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}
.section-cruis .cruis {
  width: calc(50% - 32px);
  height: 352px;
  border-radius: 6px;
  padding: 24px;
  display: flex;
  align-items: flex-end;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.section-cruis .cruis-1 {
  background: url("../img/cruis-1.png") 50% 50% no-repeat;
  background-size: cover;
}
.section-cruis .cruis-2 {
  background: url("../img/cruis-2.png") 50% 50% no-repeat;
  background-size: cover;
}
.section-cruis .cruis-3 {
  background: url("../img/cruis-3.png") 50% 50% no-repeat;
  background-size: cover;
}

@media (max-width: 1088px) {
  .section-cruis .cruis {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .section-cruis .heading {
    display: none;
  }
  .section-cruis .cruis-wrap {
    gap: 16px;
  }
}
.section-photo-gallery .breadcrumb-item {
  color: #76767A;
  margin-top: 25px;
  margin-bottom: 75px;
}
.section-photo-gallery .breadcrumb-item.active {
  color: #76767A !important;
  font-weight: 400;
}
.section-photo-gallery .breadcrumb-item::before {
  color: #76767A !important;
}
.section-photo-gallery .photo-gallery__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 64px;
  padding-top: 52px;
}
.section-photo-gallery .photo-gallery__wrap .photo-gallery__item {
  width: calc(33% - 24px);
}
.section-photo-gallery .photo-gallery__wrap .photo-gallery__item img {
  width: 100%;
  border-radius: 6px;
}
.section-photo-gallery .pagination-wrap {
  margin-bottom: 80px;
}
.section-photo-gallery .pagination-wrap .page-item a {
  border: 0;
  border-radius: 0;
  min-width: 44px;
  min-height: 44px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  color: #333;
}
.section-photo-gallery .pagination-wrap .page-item a:hover {
  color: #fff;
  background-color: #333;
}
.section-photo-gallery .pagination-wrap .page-item a.active {
  color: #fff;
  background-color: #333;
}
.section-photo-gallery .pagination-wrap .page-item._no-border a {
  background-color: #fff;
}

@media (max-width: 768px) {
  .section-photo-gallery .breadcrumb-item {
    margin-bottom: 25px;
  }
  .section-photo-gallery .section-heading {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .section-photo-gallery .photo-gallery__wrap {
    gap: 32px;
  }
  .section-photo-gallery .photo-gallery__wrap .photo-gallery__item {
    width: calc(50% - 16px);
  }
  .section-photo-gallery ._short {
    display: none;
  }
}
@media (max-width: 576px) {
  .section-photo-gallery .breadcrumb-item {
    margin-bottom: 25px;
  }
  .section-photo-gallery .photo-gallery__wrap {
    gap: 16px;
  }
  .section-photo-gallery .photo-gallery__wrap .photo-gallery__item {
    width: 100%;
  }

  .section-photo-gallery .photo-gallery__wrap {
    padding-top: 25px;
    padding-bottom: 32px;
  }

  .section-photo-gallery .pagination-wrap {
    margin-bottom: 48px;
  }
}
.section-baikal-map .breadcrumb-item {
  color: #76767A;
  margin-top: 25px;
  margin-bottom: 50px;
}
.section-baikal-map .breadcrumb-item.active {
  color: #76767A !important;
  font-weight: 400;
}
.section-baikal-map .breadcrumb-item::before {
  color: #76767A !important;
}
.section-baikal-map .baikal-map__wrap {
  padding-top: 36px;
}

@media (max-width: 768px) {
  .section-baikal-map .breadcrumb-item {
    margin-bottom: 25px;
  }
  .section-baikal-map .section-heading {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media (max-width: 576px) {
  .section-baikal-map .breadcrumb-item {
    margin-bottom: 25px;
  }
  .section-baikal-map .baikal-map__wrap iframe {
    height: 400px;
  }
}
.section-contacts .breadcrumb-item {
  color: #76767A;
  margin-top: 25px;
  margin-bottom: 50px;
}
.section-contacts .breadcrumb-item.active {
  color: #76767A !important;
  font-weight: 400;
}
.section-contacts .breadcrumb-item::before {
  color: #76767A !important;
}
.section-contacts .section-heading {
  margin-bottom: 40px;
  font-size: 44px;
}
.section-contacts .contacts__wrap {
  max-width: 832px;
  width: 100%;
}
.section-contacts .contacts__img {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 48px;
}
.section-contacts .contacts__img img {
  width: 100%;
}
.section-contacts .text-wrap {
  font-size: 18px;
}
.section-contacts .contact__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section-contacts .contact__subtitle {
  font-size: 22px;
  font-weight: 700;
}
.section-contacts .contact__map {
  padding-top: 32px;
  padding-bottom: 80px;
}

@media (max-width: 768px) {
  .section-baikal-map .breadcrumb-item {
    margin-bottom: 25px;
  }
  .section-baikal-map .section-heading {
    margin-top: 0 !important;
  }
}
@media (max-width: 576px) {
  .section-contacts .breadcrumb-item {
    margin-bottom: 25px;
  }
  .section-contacts .text-wrap {
    font-size: 14px;
  }
  .section-contacts .contact__title {
    font-size: 18px;
  }
  .section-contacts .contact__subtitle {
    font-size: 16px;
  }
}
.mobail-menu-close-btn:hover {
  cursor: pointer;
}

.breadcrumb-item:hover {
  cursor: pointer;
}

.section-camp .camp-side-bar .card-menu-item:hover {
  color: #64BD22;
}

@media (min-width: 768px) and (max-width: 1188px) {
  .section-offers .offer-block-max {
    background-size: cover !important;
  }

  .section-offers .offer-block {
    background-size: cover !important;
  }
}

/*# sourceMappingURL=style.css.map */
