<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гостевой дом «Горячий ключ»</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="/bootstrap-5.0.1-dist/css/bootstrap.min.css">
</head>

<body class="recreation_center">
    <header id="header">
        <div class="section-header _box-shadow">
            <div class="header">
                <div class="container">
                    <div class="header-logo__wrapper">
                        <div class="header-logo">
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M25.1049 30.4438C25.5919 30.5385 25.6796 30.3001 25.759 30.131C25.8375 29.9608 26.0708 29.701 26.4111 29.5401C26.7524 29.3781 27.2099 29.105 27.3882 28.942C27.5685 28.779 27.7611 28.5762 28.1707 28.5599C28.5813 28.5426 28.7851 28.3429 28.9134 28.079C29.0449 27.8151 28.9532 27.2608 29.0428 27.0642C29.1325 26.8696 29.3597 26.5242 29.4932 26.2196C29.6287 25.9159 29.5115 25.9414 29.3108 26.029C29.1101 26.1146 28.9348 26.1849 28.8574 26.4549C28.7779 26.7259 28.7056 26.7881 28.4529 26.9725C28.1982 27.1559 28.0138 27.2873 27.7418 27.375C27.4667 27.4616 26.9338 27.6287 26.6332 27.7754C26.353 27.9119 26.0565 28.0749 25.7325 28.2685L23.6642 30.3368C24.0504 30.2971 24.6699 30.3592 25.1049 30.4438Z"
                                    fill="#3FA9F5"></path>
                                <path
                                    d="M47.5587 9.5061C47.4589 9.58761 47.3855 9.66199 47.3692 9.71497C47.3162 9.90244 47.2877 10.7175 47.0972 11.067C46.9107 11.4165 46.8466 12.0879 46.8445 12.2132C46.8394 12.3375 46.8241 12.5576 46.6978 12.7634C46.5745 12.9682 46.3218 13.2667 46.4135 13.4186C46.5042 13.5704 46.868 13.8424 46.6764 14.038C46.4838 14.2337 46.0172 14.5169 46.1517 14.8063C46.2913 15.0966 46.5093 15.6275 46.4991 15.8445C46.4889 16.0615 46.3575 16.2724 46.493 16.4171C46.6295 16.5618 46.7436 16.8583 46.545 17.1741C46.3463 17.491 45.3733 18.8603 44.7752 19.3606C44.1792 19.8619 43.628 20.4253 43.4578 20.7493C43.2877 21.0733 43.2683 21.3209 43.1827 21.434C43.0981 21.5471 42.8516 21.7213 42.6743 21.8915C42.499 22.0616 42.6366 22.1645 42.7283 22.3153C42.82 22.4671 42.7436 22.7066 42.5989 22.8533C42.4532 23 42.063 23.2099 42.3055 23.3678C42.5469 23.5267 42.6081 23.7978 42.4929 23.921C42.3788 24.0443 42.1261 24.3775 42.1098 24.5008C42.0915 24.6241 41.5291 24.6281 41.2611 24.4458C40.9952 24.2634 40.555 23.973 40.6498 23.8823C40.7446 23.7916 40.9952 23.6592 41.2204 23.378C41.4476 23.0968 41.4201 22.6964 41.5484 22.6515C41.6819 22.6077 41.7155 22.3622 41.4873 22.2053C41.257 22.0484 41.1755 21.8915 41.3976 21.6306C41.6218 21.3698 41.8806 20.8644 41.4934 20.6444C41.1063 20.4243 40.6743 20.5313 40.175 20.6912C39.6737 20.8522 39.7593 20.9684 39.1164 21.5664C38.4704 22.1645 38.7374 22.4936 38.3441 22.9195C37.9529 23.3444 37.9865 23.5573 37.5942 23.9822C37.204 24.4081 36.609 24.784 36.4184 25.1121C36.2269 25.4402 36.446 25.5115 36.8566 25.2558C37.2682 25.001 37.0807 24.9949 37.693 24.9328C38.3074 24.8717 38.3115 24.9766 38.7333 24.784C39.1582 24.5925 39.3854 24.457 39.5667 24.6485C39.7491 24.8411 40.066 25.2598 40.2066 25.592C40.3492 25.9241 40.388 26.3877 40.2718 26.9349C40.1536 27.481 40.2239 27.7408 39.907 28.0729C39.5892 28.403 39.15 28.5722 38.7272 28.7647C38.3044 28.9563 38.4419 28.8707 38.0374 29.0857C37.6329 29.3017 37.5494 29.1438 37.3599 28.8677C37.1683 28.5915 36.5896 28.6985 36.3308 28.9135C36.0741 29.1285 35.1948 30.0699 34.8993 30.237C34.6059 30.4051 33.7989 30.6486 33.533 30.9237C33.2661 31.1998 33.2131 31.4433 33.3955 31.6135C33.5809 31.7857 33.7673 32.395 33.2987 32.6212C32.83 32.8473 32.5559 33.0195 32.4286 33.3344C32.3032 33.6512 31.7164 33.9875 31.3608 34.125C31.0083 34.2646 30.2227 34.5305 29.9405 34.9095C29.6603 35.2875 29.4463 35.6115 29.1152 35.7532C28.7841 35.8968 28.189 36.2728 27.8294 36.3064C27.4697 36.34 27.1834 35.8428 26.3958 35.9844C25.6052 36.1261 24.786 36.3247 24.5996 36.4664C24.4111 36.607 24.2063 36.8902 23.9801 37.0278C23.7519 37.1623 23.5563 37.3864 22.9154 37.4832C22.2786 37.5841 22.086 37.6207 21.6775 37.8551C21.2709 38.0904 20.9143 38.3961 20.5638 38.5357C20.2093 38.6743 19.8252 38.5999 19.654 39.0767C19.4849 39.5535 19.4023 40.1465 19.0804 40.3717C18.7574 40.5989 18.6901 40.7762 18.412 40.821C18.1369 40.8679 18.0737 39.8164 17.3921 39.9305C16.7074 40.0446 16.4823 40.1598 16.2673 40.0681C16.0503 39.9754 15.9524 39.9193 15.6335 39.9804C15.3126 40.0406 14.6035 39.9 14.3793 40.3075C14.1572 40.714 13.8801 40.7589 13.6488 41.3936C13.4124 42.0284 13.3788 42.1282 13.713 42.277C14.0472 42.4278 14.0278 42.5714 13.8424 42.7131C13.6539 42.8537 13.1954 43.1451 13.067 43.4813C12.9376 43.8175 12.9091 44.0223 12.7267 44.2882C12.5443 44.5541 12.1592 44.9189 12.3334 45.0259C12.5076 45.1329 12.7002 45.3886 12.5015 45.467C12.3049 45.5435 11.8892 45.6739 11.5754 46.1517C11.2575 46.6296 10.5708 47.2429 10.2702 47.5975C10.1643 47.7228 10.0593 47.8288 9.94214 47.9246C14.5912 51.7219 20.5282 54.0001 27 54.0001C41.9122 54.0001 54 41.9122 54 27.0001C54 20.3244 51.5721 14.2194 47.5587 9.5061Z"
                                    fill="#3FA9F5"></path>
                                <path
                                    d="M24.5883 28.6302C24.2888 28.5884 24.028 28.8228 23.9098 28.9318C23.7895 29.0398 23.7162 28.9675 23.4778 28.8931C23.2373 28.8187 22.9918 29.0775 22.9245 29.2752C22.8552 29.4738 22.5037 29.4463 22.3723 29.3444C22.2409 29.2426 21.8883 29.3821 21.6805 29.5217C21.4737 29.6593 21.2872 29.862 21.0692 30.0831C20.8511 30.3022 21.328 30.5151 21.4859 30.6822C21.6367 30.8412 21.8792 30.7637 22.0259 30.7006C22.1736 30.6374 22.4752 30.5549 22.6668 30.4835C22.8573 30.4132 23.1599 30.4275 23.5175 30.3511C23.5562 30.3429 23.6153 30.3419 23.6622 30.3378L25.7305 28.2695C25.7071 28.2838 25.6857 28.295 25.6622 28.3093C25.3097 28.5202 24.8838 28.6699 24.5883 28.6302Z"
                                    fill="#70CF29"></path>
                                <path
                                    d="M6.18351 43.1307C7.2034 42.7986 8.10408 41.7012 8.46374 41.1113C8.82136 40.5224 9.73324 39.3426 10.3099 38.5876C10.8866 37.8336 12.3772 36.9003 13.6294 36.4877C14.8795 36.0771 16.2876 35.5483 17.008 34.7587C17.7263 33.9691 17.6763 33.7398 18.1491 33.5269C18.6218 33.3149 19.2403 33.0674 19.388 32.8086C19.5337 32.5518 19.5409 31.6909 20.2673 31.4575C20.9938 31.2242 20.9673 31.214 21.0315 30.9104C21.0946 30.6068 20.6688 30.3806 20.4405 30.349C20.2164 30.3185 19.5704 30.4794 19.6601 30.2624C19.7528 30.0464 20.1858 29.4799 20.7431 29.2242C21.2994 28.9674 21.9648 28.5171 22.1298 28.2267C22.2949 27.9374 22.7554 27.4595 23.3117 27.2028C23.87 26.947 24.6362 26.5099 25.0122 26.354C25.3882 26.1971 26.3398 25.8069 26.5425 25.6897C26.7473 25.5715 27.5074 25.3433 27.5441 24.9317C27.5777 24.5201 27.2517 24.4752 27.6286 24.0066C28.0046 23.5369 28.2298 23.4217 28.564 22.8216C28.8951 22.2225 28.9939 22.1094 29.4657 21.8629C29.9374 21.6163 31.0999 20.9011 31.2456 20.9C31.3913 20.899 31.7286 20.8837 31.9935 20.4609C32.2584 20.0381 32.5865 20.0839 32.8473 20.0157C33.1061 19.9474 33.4902 19.2709 33.8183 19.169C34.1433 19.0681 34.2625 18.6677 34.3022 18.3824C34.342 18.0971 34.4938 17.4502 34.8168 17.3697C35.1397 17.2892 35.3557 16.7767 35.4362 16.4975C35.5157 16.2163 35.6206 15.4593 36.0119 15.3482C36.4021 15.2341 36.2666 15.2993 36.4948 15.0181C36.72 14.7359 36.9115 14.2621 37.262 13.9778C37.6166 13.6936 37.7817 13.5489 37.8774 13.1454C37.9763 12.742 38.2493 11.5091 38.7628 10.8092C39.2763 10.1092 39.7858 9.74242 40.3533 9.25743C40.9198 8.77245 40.9361 8.1917 41.257 7.84019C41.5769 7.48766 41.3569 7.26962 41.5555 7.04649C41.7502 6.82336 41.7766 6.63996 41.8133 6.51974C41.851 6.39849 41.6768 6.16721 41.9193 5.90842C42.1618 5.65064 42.3696 5.65879 42.5887 5.43872C42.7354 5.292 42.7038 5.1677 42.7028 5.04543C38.2789 1.87268 32.8605 0 27 0C12.0878 0 0 12.0878 0 27C0 33.1692 2.0734 38.8515 5.55487 43.3977C5.75762 43.2958 5.96751 43.2 6.18351 43.1307Z"
                                    fill="#70CF29"></path>
                            </svg>
                        </div>
                        <div class="header-logo__title">
                            <span class="text-20">Байкальский отдых</span><br>
                            <span class="text-18">Турагентство</span>
                        </div>
                    </div>
                    <div class="header-contacts">
                        <div class="header-contacts-item __contact">
                            <div class="header-contacts-item__icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.4"
                                        d="M12 0C5.373 0 0 5.373 0 12C0 18.627 5.373 24 12 24C18.627 24 24 18.627 24 12C24 5.373 18.627 0 12 0ZM15.227 18.184C13.637 18.086 10.51 16.26 9.05301 14.62C7.60001 12.979 6.15701 9.657 6.25201 8.064C6.25201 8.064 7.98399 5.773 8.77899 5.819C9.57999 5.867 11.822 8.395 10.974 9.147C10.134 9.894 9.33701 9.848 9.29001 10.641C9.24501 11.436 9.99098 12.282 10.735 13.124C11.487 13.97 12.233 14.809 13.03 14.854C13.825 14.904 13.874 14.111 14.714 13.359C15.558 12.611 17.804 15.143 17.755 15.938C17.711 16.73 15.227 18.184 15.227 18.184Z"
                                        fill="black" />
                                </svg>
                            </div>
                            <div class="header-contacts-item__text">
                                8-924-3-541-540
                            </div>
                        </div>
                        <div class="header-contacts-item __contact">
                            <div class="header-contacts-item__icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.4" ol
                                        d="M12 0C5.371 0 0 5.373 0 12C0 18.629 5.371 24 12 24C18.626 24 24 18.629 24 12C24 5.373 18.626 0 12 0ZM19.177 7.028L19.194 7.031L12.497 13.729C12.273 13.952 11.88 13.952 11.656 13.727L4.95599 7.028H19.177ZM4.48901 7.477C4.48901 7.472 4.492 7.469 4.492 7.469L9.04303 12.018L4.48901 16.572V7.477ZM4.93701 17.098C4.91701 17.098 4.89799 17.088 4.87799 17.085L9.49402 12.47L11.203 14.179C11.434 14.412 11.746 14.539 12.077 14.539C12.405 14.539 12.717 14.412 12.948 14.179L14.601 12.525L19.173 17.098H4.93701ZM19.626 16.646L15.054 12.074L19.626 7.502V16.646Z"
                                        fill="black" />
                                </svg>
                            </div>
                            <div class="header-contacts-item__text">
                                baikalholiday@mail.ru
                            </div>
                        </div>
                        <div class="header-contacts-item">
                            <div id="feedback-modal-btn" class="header-contacts-item__btn btn btn-light">Обратный звонок
                            </div>
                        </div>
                        <div class="header-contacts-item burger" id="burger">
                            <div class="burger-line"></div>
                            <div class="burger-line"></div>
                            <div class="burger-line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobail meni -->
            <div id="mobail-menu" class="mobail-menu">
                <div class="row mobail-menu-wrap">
                    <div class="col-lg">
                        <h5 class="text-uppercase">Бронирование</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="mobail-menu-item">Отели и базы отдыха</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Теплоходы и катера</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Транспортные услуги</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <h5 class="text-uppercase">Экскурсии</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="mobail-menu-item">Экскурсии и туры</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Экстрим туры</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <h5 class="text-uppercase">Туры на Байкал</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="mobail-menu-item">Туры Зима-Весна</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Туры Лето-Осень</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Туры охоты и рыбалки</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <h5 class="text-uppercase">О Байкале</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="mobail-menu-item">Карта Байкала</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Достопримечательности</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Полезная информация</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg __has-border">
                        <h5 class="text-uppercase">О нас</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="mobail-menu-item">Контакты</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Агентствам</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mobail-menu-contacts-item __contact">
                        <div class="header-contacts-item__icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4"
                                    d="M12 0C5.373 0 0 5.373 0 12C0 18.627 5.373 24 12 24C18.627 24 24 18.627 24 12C24 5.373 18.627 0 12 0ZM15.227 18.184C13.637 18.086 10.51 16.26 9.05301 14.62C7.60001 12.979 6.15701 9.657 6.25201 8.064C6.25201 8.064 7.98399 5.773 8.77899 5.819C9.57999 5.867 11.822 8.395 10.974 9.147C10.134 9.894 9.33701 9.848 9.29001 10.641C9.24501 11.436 9.99098 12.282 10.735 13.124C11.487 13.97 12.233 14.809 13.03 14.854C13.825 14.904 13.874 14.111 14.714 13.359C15.558 12.611 17.804 15.143 17.755 15.938C17.711 16.73 15.227 18.184 15.227 18.184Z"
                                    fill="black" />
                            </svg>
                        </div>
                        <div class="header-contacts-item__text">
                            8-924-3-541-540
                        </div>
                    </div>
                    <div class="mobail-menu-contacts-item __contact">
                        <div class="header-contacts-item__icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4"
                                    d="M12 0C5.371 0 0 5.373 0 12C0 18.629 5.371 24 12 24C18.626 24 24 18.629 24 12C24 5.373 18.626 0 12 0ZM19.177 7.028L19.194 7.031L12.497 13.729C12.273 13.952 11.88 13.952 11.656 13.727L4.95599 7.028H19.177ZM4.48901 7.477C4.48901 7.472 4.492 7.469 4.492 7.469L9.04303 12.018L4.48901 16.572V7.477ZM4.93701 17.098C4.91701 17.098 4.89799 17.088 4.87799 17.085L9.49402 12.47L11.203 14.179C11.434 14.412 11.746 14.539 12.077 14.539C12.405 14.539 12.717 14.412 12.948 14.179L14.601 12.525L19.173 17.098H4.93701ZM19.626 16.646L15.054 12.074L19.626 7.502V16.646Z"
                                    fill="black" />
                            </svg>
                        </div>
                        <div class="header-contacts-item__text">
                            baikalholiday@mail.ru
                        </div>
                    </div>
                    <div class="feedback-btn-wrap">
                        <a id="feedback-btn" href="#section-feedback" class="feedback-btn btn btn-primary">Подобрать
                            тур</a>
                    </div>
                </div>
                <div id="menu-close" class="mobail-menu-close-btn">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 1L1 13" stroke="black" stroke-width="2" stroke-miterlimit="10" />
                        <path d="M1 1L13 13" stroke="black" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
            <!-- /mobail menu -->
            <!-- modal feedback -->
            <div id="modal-feedback" class="modal-feedback">
                <div class="modal-inner">
                    <div id="modal-feedback-close" class="mobail-menu-close-btn">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 1L1 13" stroke="black" stroke-width="2" stroke-miterlimit="10"></path>
                            <path d="M1 1L13 13" stroke="black" stroke-width="2" stroke-miterlimit="10"></path>
                        </svg>
                    </div>
                    <div class="modal-heading">
                        <h2>Мы вам перезвоним!</h2>
                    </div>
                    <div class="modal-body">
                        <div class="col">
                            <input placeholder="Ваше имя" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <input placeholder="Телефон" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <input placeholder="Удобное время для звонка" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="feedback-btn-wrap">
                        <div class="feedback-agreement">
                            <input class="checkbox" type="checkbox">
                            <a href="#">Согласие на обработку персональных данных</a>
                        </div>
                        <div class="feedback-btn btn btn-primary">Отправить заявку</div>
                    </div>
                </div>
            </div>
            <!-- modal feedback -->
            <div class="container">
                <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Бронирование</li>
                        <li class="breadcrumb-item">Экскурсии</li>
                        <li class="breadcrumb-item">Туры на Байкал</li>
                        <li class="breadcrumb-item">О Байкале</li>
                        <li class="breadcrumb-item">О нас</li>
                    </ol>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="section-camp">
            <div class="container">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a href="/campsites">Турбазы</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Горячинск</li>
                        </ol>
                    </nav>
                </div>
                <div class="camp-wrap _hasnt-border">
                    <div class="camp-side-bar">
                        <div class="card-menu">
                            <div class="card-menu-title">Турбазы</div>
                            <div class="card-menu-items __has-scroll-bar">
                                <div class="card-menu-item active">Гостевой дом «Горячий ключ»</div>
                                <div class="card-menu-item">Туристический комплекс «Авангард»</div>
                                <div class="card-menu-item">Отель «Белая карета»</div>
                                <div class="card-menu-item">Элитный гостевой дом «Harmony»</div>
                                <div class="card-menu-item">Гостевой дом «Горхон» Горячинск</div>
                                <div class="card-menu-item">Гостевой дом «Подворье»</div>
                                <div class="card-menu-item">Усадьба «Добрыня»</div>
                                <div class="card-menu-item">Гостевой дом «Дворик»</div>
                                <div class="card-menu-item">Гостевой дом «Колибри»</div>
                                <div class="card-menu-item">Гостевой дом «Ромашка»</div>
                                <div class="card-menu-item">Гостевой дом «Семейный» Горячинск</div>
                                <div class="card-menu-item">Гостевой дом «Три медведя» Горячинск</div>
                                <div class="card-menu-item">Гостевой дом «Уютный дворик»</div>
                                <div class="card-menu-item">Гостевой дом «Медвежонок»</div>
                                <div class="card-menu-item">Гостевой дом «Гермес»</div>
                                <div class="card-menu-item">Гостиница «Байкал» в Горячинске</div>
                                <div class="card-menu-item">Гостиница «Драган»</div>
                                <div class="card-menu-item">Гостевой дом «Ясная поляна»</div>
                            </div>
                        </div>
                    </div>
                    <div class="camp-content">
                        <h1 class="title">Гостевой дом «Горячий ключ»</h1>
                        <div class="camp-img">
                            <img src="/img/camp-2.jfif" alt="">
                        </div>
                        <div class="camp__btn">
                            <div class="btn btn-success">
                                <svg width="16" height="20" viewBox="0 0 16 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10 0H2C0.9 0 0.0100098 0.9 0.0100098 2L0 18C0 19.1 0.89099 20 1.98999 20H14C15.1 20 16 19.1 16 18V6L10 0ZM12 16H4V14H12V16ZM12 12H4V10H12V12ZM9 7V1.5L14.5 7H9Z"
                                        fill="white" />
                                </svg>
                                Скачать прайс
                            </div>
                        </div>
                        <div class="camp-text">
                            Клуб семейного отдыха «Горячий ключ» расположен в 200 метров от курорта Горячинск, около 1,2
                            км от берега Байкала, где вы сможете посетить термальный источник и исследовать тропы
                            терренкура. Непосредственно перед домом расположена спортивная площадка. К вашим услугам –
                            теплая беседка с большой печью барбекю, мангалы, баня, сауна с бассейном, снегокаты, лыжи,
                            санки. Для Ваших детей оборудована игровая комната, детский батут, пластиковая горка,
                            виртуальная приставка X BOX, взрослые гости могут размяться в настольный теннис. Добротный
                            трехэтажный дом из соснового леса располагает к комфортному семейному отдыху. В номерах с
                            запахом сосны спится особенно глубоко и спокойно.<br><br>
                            Сегодня Family Club «Горячий Ключ» в режиме полного комфорта может разместить до 57 гостей,
                            имеет в распоряжении двухэтажное кафе домашней кухни с детским меню и вкусными сезонными
                            предложениями
                        </div>
                        <div class="section-room">
                            <div class="section-heading">
                                <h3>Описание номеров</h3>
                                <span>
                                    <svg width="16" height="20" viewBox="0 0 16 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10 0H2C0.9 0 0.0100098 0.9 0.0100098 2L0 18C0 19.1 0.89099 20 1.98999 20H14C15.1 20 16 19.1 16 18V6L10 0ZM12 16H4V14H12V16ZM12 12H4V10H12V12ZM9 7V1.5L14.5 7H9Z"
                                            fill="#0061D9" />
                                    </svg>
                                    Скачать прайс
                                </span>
                            </div>
                            <div class="room">
                                <div class="room__heading">
                                    <h4 class="room__title">Базовый номер</h4>
                                    <div class="room__price">Цена от 3200 руб.</div>
                                </div>
                                <div class="room-wrap">
                                    <div class="roon__info">
                                        <div class="room__desc">
                                            <strong>Кровать: </strong>семейная или две односпальные<br>
                                            <strong>Площадь: </strong>15 м<sup>2</sup><br>
                                            <strong>Питание: </strong>завтрак не включен
                                            <br><br>
                                            Оснащен двуспальной кроватью с ортопедическим матрасом стандартного размера
                                            (140 см х 220 см). В каждом из них могут разместиться не более двух гостей.
                                            <br><br>
                                            <a href="#">Развернуть описание
                                                <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.999999 1L6 6L11 1" stroke="#76767A" stroke-width="2" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="room__img">
                                        <img src="/img/room-1.jfif" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="room">
                                <div class="room__heading">
                                    <h4 class="room__title">Комфорт</h4>
                                    <div class="room__price">Цена от 3600 руб.</div>
                                </div>
                                <div class="room-wrap">
                                    <div class="roon__info">
                                        <div class="room__desc">
                                            <strong>Кровать: </strong>две одинарные или две полутороспальные<br>
                                            <strong>Площадь: </strong>22 м<sup>2</sup><br>
                                            <strong>Питание: </strong>завтрак включен
                                            <br><br>
                                            Каждый из номеров имеет две односпальные кровати (90 см х 220 см) с
                                            ортопедическими матрасами и ортопедический наматрасник (200 см х 220 см) для
                                            трансформации в одну двуспальную.
                                            <br><br>
                                            <a href="#">Развернуть описание
                                                <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.999999 1L6 6L11 1" stroke="#76767A" stroke-width="2" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="room__img">
                                        <img src="/img/room-2.jfif" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-feedback" class="section-feedback">
            <div class="container">
                <h2 class="section-heading text-center">Забронируйте отдых на Байкале</h2>
                <div class="feed-baack__wrap">
                    <div class="row">
                        <div class="col">
                            <input placeholder="Ваше имя" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <input placeholder="Телефон" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <input placeholder="E-mail" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input placeholder="Местность Байкала" type="text" class="form-control">
                        </div>
                        <div class="col __count">
                            <input placeholder="Количество взрослых" type="text" class="form-control">
                        </div>
                        <div class="col __count">
                            <input placeholder="Количество детей, их возраст" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <input placeholder="Дата заезда" type="text" class="form-control mb-24">
                            <input placeholder="Дата отъезда" type="text" class="form-control">
                        </div>
                        <div class="col-9">
                            <textarea placeholder="Комментарий" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="feedback-btn-wrap">
                        <div class="feedback-btn btn btn-primary">Отправить заявку</div>
                        <div class="feedback-agreement">
                            <input type="checkbox">
                            <a href="#">Согласие на обработку персональных данных</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer bg-dark text-white">
        <div class="container p-4">
            <div class="row __has-border">
                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Бронирование</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Отели и базы отдыха</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Теплоходы и катера</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Транспортные услуги</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Экскурсии</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Экскурсии и туры</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Экстрим туры</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Туры на Байкал</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Туры Зима-Весна</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Туры Лето-Осень</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Туры охоты и рыбалки</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">О Байкале</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Карта Байкала</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Достопримечательности</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Полезная информация</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">О нас</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Контакты</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Агентствам</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-burger">
                    <a href="#header" class="burger" id="footer-burger">
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                    </a>
                    <h5>МЕНЮ</h5>
                </div>

            </div>
            <div class="row _sub">
                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h6>Турагентство «Байкальский отдых»</h6>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">© 2021. Все права защищены</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h6>Заказ туров и бронирование:</h6>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">тел. 8-924-3-541-540</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">e-mail: baikalholiday@mail.ru</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h6>Адрес:</h6>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Ког. Улан-Удэ, ул.Гражданская, 20,</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">отель «Рестон», 1 этажнтакты</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg col-md-6 mb-4 mb-md-0 text-right">
                    <h6>Политика конфиденциальности</h6>
                    <div class="designer-block">
                        <svg width="110" height="22" viewBox="0 0 110 22" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path
                                    d="M8.66602 19.0918H7.54688V17H1.42383V19.0977H0.298828L0.292969 16.0801H0.990234C1.35742 15.666 1.64844 15.1113 1.86328 14.416C2.08203 13.7168 2.21875 12.9512 2.27344 12.1191L2.46094 8.46875H7.56445V16.0801H8.67773L8.66602 19.0918ZM2.27344 16.0801H6.43359V9.39453H3.54492L3.42188 11.9023C3.37109 12.8828 3.24023 13.7188 3.0293 14.4102C2.82227 15.1016 2.57031 15.6582 2.27344 16.0801ZM13.9453 10.6602H15.0293V17H13.9453V12.377L11.0215 17H9.9375V10.6602H11.0215V15.2891L13.9453 10.6602ZM20.2559 12.3945C20.2559 12.0977 20.1426 11.8633 19.916 11.6914C19.6895 11.5156 19.3789 11.4277 18.9844 11.4277C18.6016 11.4277 18.2812 11.5273 18.0234 11.7266C17.7695 11.9258 17.6426 12.1602 17.6426 12.4297H16.5645C16.5645 11.8789 16.7949 11.4277 17.2559 11.0762C17.7168 10.7246 18.293 10.5488 18.9844 10.5488C19.7266 10.5488 20.3047 10.709 20.7188 11.0293C21.1328 11.3457 21.3398 11.7988 21.3398 12.3887C21.3398 12.6738 21.2539 12.9355 21.082 13.1738C20.9102 13.4121 20.666 13.6016 20.3496 13.7422C21.0879 13.9922 21.457 14.4844 21.457 15.2188C21.457 15.8008 21.2324 16.2617 20.7832 16.6016C20.334 16.9414 19.7344 17.1113 18.9844 17.1113C18.2539 17.1113 17.6504 16.9336 17.1738 16.5781C16.7012 16.2188 16.4648 15.7344 16.4648 15.125H17.543C17.543 15.4336 17.6797 15.6992 17.9531 15.9219C18.2305 16.1406 18.5742 16.25 18.9844 16.25C19.3984 16.25 19.7324 16.1543 19.9863 15.9629C20.2402 15.7715 20.3672 15.5234 20.3672 15.2188C20.3672 14.8633 20.2598 14.6094 20.0449 14.457C19.834 14.3008 19.5039 14.2227 19.0547 14.2227H17.9707V13.3086H19.1484C19.8867 13.2891 20.2559 12.9844 20.2559 12.3945ZM26.7773 17C26.7148 16.875 26.6641 16.6523 26.625 16.332C26.1211 16.8555 25.5195 17.1172 24.8203 17.1172C24.1953 17.1172 23.6816 16.9414 23.2793 16.5898C22.8809 16.2344 22.6816 15.7852 22.6816 15.2422C22.6816 14.582 22.9316 14.0703 23.4316 13.707C23.9355 13.3398 24.6426 13.1562 25.5527 13.1562H26.6074V12.6582C26.6074 12.2793 26.4941 11.9785 26.2676 11.7559C26.041 11.5293 25.707 11.416 25.2656 11.416C24.8789 11.416 24.5547 11.5137 24.293 11.709C24.0312 11.9043 23.9004 12.1406 23.9004 12.418H22.8105C22.8105 12.1016 22.9219 11.7969 23.1445 11.5039C23.3711 11.207 23.6758 10.9727 24.0586 10.8008C24.4453 10.6289 24.8691 10.543 25.3301 10.543C26.0605 10.543 26.6328 10.7266 27.0469 11.0938C27.4609 11.457 27.6758 11.959 27.6914 12.5996V15.5176C27.6914 16.0996 27.7656 16.5625 27.9141 16.9062V17H26.7773ZM24.9785 16.1738C25.3184 16.1738 25.6406 16.0859 25.9453 15.9102C26.25 15.7344 26.4707 15.5059 26.6074 15.2246V13.9238H25.7578C24.4297 13.9238 23.7656 14.3125 23.7656 15.0898C23.7656 15.4297 23.8789 15.6953 24.1055 15.8867C24.332 16.0781 24.623 16.1738 24.9785 16.1738ZM33.4922 10.6602H34.5762V17H33.4922V12.377L30.5684 17H29.4844V10.6602H30.5684V15.2891L33.4922 10.6602ZM33.7852 8.35156C33.7852 8.82422 33.623 9.20508 33.2988 9.49414C32.9785 9.7793 32.5566 9.92188 32.0332 9.92188C31.5098 9.92188 31.0859 9.77734 30.7617 9.48828C30.4375 9.19922 30.2754 8.82031 30.2754 8.35156H31.1602C31.1602 8.625 31.2344 8.83984 31.3828 8.99609C31.5312 9.14844 31.748 9.22461 32.0332 9.22461C32.3066 9.22461 32.5195 9.14844 32.6719 8.99609C32.8281 8.84375 32.9062 8.62891 32.9062 8.35156H33.7852ZM41.4961 17H40.4121V14.293H37.5V17H36.4102V10.6602H37.5V13.4082H40.4121V10.6602H41.4961V17Z"
                                    fill="white" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M103.666 21.936H104.66V18.616L107.705 21.591C107.787 21.655 107.873 21.718 107.958 21.778C108.029 21.826 108.099 21.869 108.172 21.908C108.235 21.937 108.303 21.967 108.373 21.979C108.445 21.994 108.518 22.001 108.59 22.001C108.738 22.001 108.887 21.976 109.026 21.91C109.149 21.85 109.256 21.766 109.346 21.661C109.438 21.552 109.502 21.425 109.548 21.292C109.594 21.144 109.617 20.989 109.617 20.838V17.72H108.621V21.031L105.57 18.029C105.333 17.797 105.043 17.621 104.701 17.621C104.568 17.621 104.439 17.65 104.316 17.703C104.197 17.757 104.084 17.83 103.982 17.919C103.889 18.008 103.81 18.115 103.753 18.232C103.694 18.351 103.665 18.477 103.665 18.608V21.936H103.666ZM88.75 14.85H92.239V8.59201L103.75 14.352C104.992 14.969 106.873 15.116 108.082 14.352C109.264 13.608 109.617 12.319 109.617 10.993V0.126007H106.108H68.859C68.171 0.126007 67.495 0.230998 66.841 0.434998C66.202 0.635998 65.607 0.930991 65.073 1.33499C64.553 1.72599 64.133 2.20601 63.811 2.76401C63.473 3.34901 63.328 3.99299 63.328 4.66199C63.328 5.30399 63.46 5.91501 63.743 6.48901C64.02 7.04401 64.386 7.53 64.856 7.936C65.329 8.35201 65.868 8.66401 66.458 8.88101C67.063 9.10901 67.694 9.22101 68.343 9.22101H82.749V11.399H60.903V0H57V14.852H60.904V14.85H81.375C82.01 14.85 82.628 14.735 83.226 14.512C83.803 14.293 84.34 13.981 84.809 13.575C85.268 13.177 85.635 12.701 85.909 12.156C86.196 11.591 86.323 10.982 86.323 10.353C86.323 9.722 86.196 9.12299 85.936 8.54999C85.682 7.99099 85.334 7.493 84.886 7.073C84.427 6.637 83.889 6.311 83.303 6.077C82.674 5.823 82.01 5.70999 81.33 5.70999H67.131V3.487H106.109V11.512L94.475 5.71799C91.778 4.37599 88.75 4.859 88.75 8.41V14.85ZM62.006 20.973H58.029V18.69H62.006V20.973ZM57.02 21.936H61.595C61.782 21.936 61.963 21.905 62.141 21.839C62.309 21.776 62.465 21.686 62.6 21.567C62.733 21.45 62.838 21.311 62.918 21.151C62.998 20.987 63.035 20.809 63.035 20.627V19.014C63.035 18.828 63 18.65 62.92 18.48C62.842 18.324 62.74 18.183 62.607 18.07C62.474 17.949 62.32 17.861 62.156 17.802C61.978 17.734 61.798 17.702 61.611 17.702H57.019V21.936H57.02ZM73.195 21.955V20.909H68.21V20.33H73.195V19.315H68.21V18.699H73.195V17.689H68.698C68.5 17.689 68.299 17.718 68.111 17.781C67.939 17.842 67.781 17.927 67.642 18.045C67.506 18.162 67.4 18.305 67.326 18.465C67.244 18.643 67.213 18.836 67.213 19.031V20.606C67.213 20.795 67.248 20.982 67.33 21.15C67.414 21.311 67.521 21.455 67.658 21.575C67.795 21.697 67.955 21.787 68.131 21.854C68.309 21.917 68.494 21.955 68.686 21.955H73.195ZM83.635 18.695V17.738H78.947C78.755 17.738 78.56 17.767 78.373 17.828C78.193 17.883 78.021 17.967 77.869 18.082C77.723 18.193 77.602 18.329 77.51 18.49C77.415 18.656 77.373 18.838 77.373 19.031C77.373 19.211 77.41 19.388 77.492 19.551C77.568 19.707 77.675 19.85 77.808 19.961C77.943 20.082 78.095 20.17 78.263 20.232C78.437 20.296 78.618 20.33 78.802 20.33H82.913V20.955H77.647V21.935H82.518C82.7 21.935 82.875 21.904 83.043 21.839C83.211 21.776 83.363 21.688 83.495 21.571C83.629 21.458 83.73 21.321 83.809 21.168C83.892 21.005 83.926 20.834 83.926 20.653C83.926 20.473 83.892 20.303 83.816 20.139C83.748 19.981 83.644 19.838 83.519 19.716C83.386 19.594 83.232 19.502 83.066 19.436C82.888 19.362 82.699 19.331 82.505 19.331H78.45V18.694H83.635V18.695ZM89.218 17.701H88.106V21.971H89.218V17.701ZM96.512 19.297V20.313H98.465V20.91H94.385V18.69H99.489V17.702H94.927C94.537 17.702 94.111 17.768 93.79 18.01C93.513 18.222 93.392 18.511 93.392 18.855V20.59C93.392 20.788 93.429 20.984 93.519 21.161C93.607 21.323 93.721 21.46 93.866 21.574C94.015 21.689 94.183 21.774 94.361 21.829C94.549 21.89 94.746 21.919 94.945 21.919H97.869C98.07 21.919 98.267 21.895 98.465 21.841C98.649 21.792 98.82 21.714 98.979 21.603C99.127 21.496 99.25 21.361 99.34 21.199C99.436 21.025 99.475 20.829 99.475 20.628V19.299H96.512V19.297Z"
                                    fill="white" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>