<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Путешествия по Байкалу</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="/bootstrap-5.0.1-dist/css/bootstrap.min.css">
</head>

<body class="home">

    <section class="section-header">
        <header id="header" class="header">
            <div class="container">
                <div class="header-logo__wrapper">
                    <div class="header-logo">
                        <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M25.1049 30.4438C25.5919 30.5385 25.6796 30.3001 25.759 30.131C25.8375 29.9608 26.0708 29.701 26.4111 29.5401C26.7524 29.3781 27.2099 29.105 27.3882 28.942C27.5685 28.779 27.7611 28.5762 28.1707 28.5599C28.5813 28.5426 28.7851 28.3429 28.9134 28.079C29.0449 27.8151 28.9532 27.2608 29.0428 27.0642C29.1325 26.8696 29.3597 26.5242 29.4932 26.2196C29.6287 25.9159 29.5115 25.9414 29.3108 26.029C29.1101 26.1146 28.9348 26.1849 28.8574 26.4549C28.7779 26.7259 28.7056 26.7881 28.4529 26.9725C28.1982 27.1559 28.0138 27.2873 27.7418 27.375C27.4667 27.4616 26.9338 27.6287 26.6332 27.7754C26.353 27.9119 26.0565 28.0749 25.7325 28.2685L23.6642 30.3368C24.0504 30.2971 24.6699 30.3592 25.1049 30.4438Z"
                                fill="#3FA9F5" />
                            <path
                                d="M47.5587 9.5061C47.4589 9.58761 47.3855 9.66199 47.3692 9.71497C47.3162 9.90244 47.2877 10.7175 47.0972 11.067C46.9107 11.4165 46.8466 12.0879 46.8445 12.2132C46.8394 12.3375 46.8241 12.5576 46.6978 12.7634C46.5745 12.9682 46.3218 13.2667 46.4135 13.4186C46.5042 13.5704 46.868 13.8424 46.6764 14.038C46.4838 14.2337 46.0172 14.5169 46.1517 14.8063C46.2913 15.0966 46.5093 15.6275 46.4991 15.8445C46.4889 16.0615 46.3575 16.2724 46.493 16.4171C46.6295 16.5618 46.7436 16.8583 46.545 17.1741C46.3463 17.491 45.3733 18.8603 44.7752 19.3606C44.1792 19.8619 43.628 20.4253 43.4578 20.7493C43.2877 21.0733 43.2683 21.3209 43.1827 21.434C43.0981 21.5471 42.8516 21.7213 42.6743 21.8915C42.499 22.0616 42.6366 22.1645 42.7283 22.3153C42.82 22.4671 42.7436 22.7066 42.5989 22.8533C42.4532 23 42.063 23.2099 42.3055 23.3678C42.5469 23.5267 42.6081 23.7978 42.4929 23.921C42.3788 24.0443 42.1261 24.3775 42.1098 24.5008C42.0915 24.6241 41.5291 24.6281 41.2611 24.4458C40.9952 24.2634 40.555 23.973 40.6498 23.8823C40.7446 23.7916 40.9952 23.6592 41.2204 23.378C41.4476 23.0968 41.4201 22.6964 41.5484 22.6515C41.6819 22.6077 41.7155 22.3622 41.4873 22.2053C41.257 22.0484 41.1755 21.8915 41.3976 21.6306C41.6218 21.3698 41.8806 20.8644 41.4934 20.6444C41.1063 20.4243 40.6743 20.5313 40.175 20.6912C39.6737 20.8522 39.7593 20.9684 39.1164 21.5664C38.4704 22.1645 38.7374 22.4936 38.3441 22.9195C37.9529 23.3444 37.9865 23.5573 37.5942 23.9822C37.204 24.4081 36.609 24.784 36.4184 25.1121C36.2269 25.4402 36.446 25.5115 36.8566 25.2558C37.2682 25.001 37.0807 24.9949 37.693 24.9328C38.3074 24.8717 38.3115 24.9766 38.7333 24.784C39.1582 24.5925 39.3854 24.457 39.5667 24.6485C39.7491 24.8411 40.066 25.2598 40.2066 25.592C40.3492 25.9241 40.388 26.3877 40.2718 26.9349C40.1536 27.481 40.2239 27.7408 39.907 28.0729C39.5892 28.403 39.15 28.5722 38.7272 28.7647C38.3044 28.9563 38.4419 28.8707 38.0374 29.0857C37.6329 29.3017 37.5494 29.1438 37.3599 28.8677C37.1683 28.5915 36.5896 28.6985 36.3308 28.9135C36.0741 29.1285 35.1948 30.0699 34.8993 30.237C34.6059 30.4051 33.7989 30.6486 33.533 30.9237C33.2661 31.1998 33.2131 31.4433 33.3955 31.6135C33.5809 31.7857 33.7673 32.395 33.2987 32.6212C32.83 32.8473 32.5559 33.0195 32.4286 33.3344C32.3032 33.6512 31.7164 33.9875 31.3608 34.125C31.0083 34.2646 30.2227 34.5305 29.9405 34.9095C29.6603 35.2875 29.4463 35.6115 29.1152 35.7532C28.7841 35.8968 28.189 36.2728 27.8294 36.3064C27.4697 36.34 27.1834 35.8428 26.3958 35.9844C25.6052 36.1261 24.786 36.3247 24.5996 36.4664C24.4111 36.607 24.2063 36.8902 23.9801 37.0278C23.7519 37.1623 23.5563 37.3864 22.9154 37.4832C22.2786 37.5841 22.086 37.6207 21.6775 37.8551C21.2709 38.0904 20.9143 38.3961 20.5638 38.5357C20.2093 38.6743 19.8252 38.5999 19.654 39.0767C19.4849 39.5535 19.4023 40.1465 19.0804 40.3717C18.7574 40.5989 18.6901 40.7762 18.412 40.821C18.1369 40.8679 18.0737 39.8164 17.3921 39.9305C16.7074 40.0446 16.4823 40.1598 16.2673 40.0681C16.0503 39.9754 15.9524 39.9193 15.6335 39.9804C15.3126 40.0406 14.6035 39.9 14.3793 40.3075C14.1572 40.714 13.8801 40.7589 13.6488 41.3936C13.4124 42.0284 13.3788 42.1282 13.713 42.277C14.0472 42.4278 14.0278 42.5714 13.8424 42.7131C13.6539 42.8537 13.1954 43.1451 13.067 43.4813C12.9376 43.8175 12.9091 44.0223 12.7267 44.2882C12.5443 44.5541 12.1592 44.9189 12.3334 45.0259C12.5076 45.1329 12.7002 45.3886 12.5015 45.467C12.3049 45.5435 11.8892 45.6739 11.5754 46.1517C11.2575 46.6296 10.5708 47.2429 10.2702 47.5975C10.1643 47.7228 10.0593 47.8288 9.94214 47.9246C14.5912 51.7219 20.5282 54.0001 27 54.0001C41.9122 54.0001 54 41.9122 54 27.0001C54 20.3244 51.5721 14.2194 47.5587 9.5061Z"
                                fill="#3FA9F5" />
                            <path
                                d="M24.5883 28.6302C24.2888 28.5884 24.028 28.8228 23.9098 28.9318C23.7895 29.0398 23.7162 28.9675 23.4778 28.8931C23.2373 28.8187 22.9918 29.0775 22.9245 29.2752C22.8552 29.4738 22.5037 29.4463 22.3723 29.3444C22.2409 29.2426 21.8883 29.3821 21.6805 29.5217C21.4737 29.6593 21.2872 29.862 21.0692 30.0831C20.8511 30.3022 21.328 30.5151 21.4859 30.6822C21.6367 30.8412 21.8792 30.7637 22.0259 30.7006C22.1736 30.6374 22.4752 30.5549 22.6668 30.4835C22.8573 30.4132 23.1599 30.4275 23.5175 30.3511C23.5562 30.3429 23.6153 30.3419 23.6622 30.3378L25.7305 28.2695C25.7071 28.2838 25.6857 28.295 25.6622 28.3093C25.3097 28.5202 24.8838 28.6699 24.5883 28.6302Z"
                                fill="#70CF29" />
                            <path
                                d="M6.18351 43.1307C7.2034 42.7986 8.10408 41.7012 8.46374 41.1113C8.82136 40.5224 9.73324 39.3426 10.3099 38.5876C10.8866 37.8336 12.3772 36.9003 13.6294 36.4877C14.8795 36.0771 16.2876 35.5483 17.008 34.7587C17.7263 33.9691 17.6763 33.7398 18.1491 33.5269C18.6218 33.3149 19.2403 33.0674 19.388 32.8086C19.5337 32.5518 19.5409 31.6909 20.2673 31.4575C20.9938 31.2242 20.9673 31.214 21.0315 30.9104C21.0946 30.6068 20.6688 30.3806 20.4405 30.349C20.2164 30.3185 19.5704 30.4794 19.6601 30.2624C19.7528 30.0464 20.1858 29.4799 20.7431 29.2242C21.2994 28.9674 21.9648 28.5171 22.1298 28.2267C22.2949 27.9374 22.7554 27.4595 23.3117 27.2028C23.87 26.947 24.6362 26.5099 25.0122 26.354C25.3882 26.1971 26.3398 25.8069 26.5425 25.6897C26.7473 25.5715 27.5074 25.3433 27.5441 24.9317C27.5777 24.5201 27.2517 24.4752 27.6286 24.0066C28.0046 23.5369 28.2298 23.4217 28.564 22.8216C28.8951 22.2225 28.9939 22.1094 29.4657 21.8629C29.9374 21.6163 31.0999 20.9011 31.2456 20.9C31.3913 20.899 31.7286 20.8837 31.9935 20.4609C32.2584 20.0381 32.5865 20.0839 32.8473 20.0157C33.1061 19.9474 33.4902 19.2709 33.8183 19.169C34.1433 19.0681 34.2625 18.6677 34.3022 18.3824C34.342 18.0971 34.4938 17.4502 34.8168 17.3697C35.1397 17.2892 35.3557 16.7767 35.4362 16.4975C35.5157 16.2163 35.6206 15.4593 36.0119 15.3482C36.4021 15.2341 36.2666 15.2993 36.4948 15.0181C36.72 14.7359 36.9115 14.2621 37.262 13.9778C37.6166 13.6936 37.7817 13.5489 37.8774 13.1454C37.9763 12.742 38.2493 11.5091 38.7628 10.8092C39.2763 10.1092 39.7858 9.74242 40.3533 9.25743C40.9198 8.77245 40.9361 8.1917 41.257 7.84019C41.5769 7.48766 41.3569 7.26962 41.5555 7.04649C41.7502 6.82336 41.7766 6.63996 41.8133 6.51974C41.851 6.39849 41.6768 6.16721 41.9193 5.90842C42.1618 5.65064 42.3696 5.65879 42.5887 5.43872C42.7354 5.292 42.7038 5.1677 42.7028 5.04543C38.2789 1.87268 32.8605 0 27 0C12.0878 0 0 12.0878 0 27C0 33.1692 2.0734 38.8515 5.55487 43.3977C5.75762 43.2958 5.96751 43.2 6.18351 43.1307Z"
                                fill="#70CF29" />
                        </svg>
                    </div>
                    <div class="header-logo__title">
                        <span class="text-20">Байкальский отдых</span><br>
                        <span class="text-18">Турагентство</span>
                    </div>
                </div>
                <div class="header-contacts">
                    <div class="header-contacts-item __contact">
                        <div class="header-contacts-item__icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.8"
                                    d="M12 0C5.373 0 0 5.373 0 12C0 18.627 5.373 24 12 24C18.627 24 24 18.627 24 12C24 5.373 18.627 0 12 0ZM15.227 18.184C13.637 18.086 10.51 16.26 9.05301 14.62C7.60001 12.979 6.15701 9.657 6.25201 8.064C6.25201 8.064 7.98399 5.773 8.77899 5.819C9.57999 5.867 11.822 8.395 10.974 9.147C10.134 9.894 9.33701 9.848 9.29001 10.641C9.24501 11.436 9.99098 12.282 10.735 13.124C11.487 13.97 12.233 14.809 13.03 14.854C13.825 14.904 13.874 14.111 14.714 13.359C15.558 12.611 17.804 15.143 17.755 15.938C17.711 16.73 15.227 18.184 15.227 18.184Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="header-contacts-item__text">
                            <a href="tel:89243541540">8-924-3-541-540</a>
                        </div>
                    </div>
                    <div class="header-contacts-item __contact">
                        <div class="header-contacts-item__icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 0C5.371 0 0 5.373 0 12C0 18.629 5.371 24 12 24C18.626 24 24 18.629 24 12C24 5.373 18.626 0 12 0ZM19.177 7.028L19.194 7.031L12.497 13.729C12.273 13.952 11.88 13.952 11.656 13.727L4.95599 7.028H19.177ZM4.48901 7.477C4.48901 7.472 4.492 7.469 4.492 7.469L9.04303 12.018L4.48901 16.572V7.477ZM4.93701 17.098C4.91701 17.098 4.89799 17.088 4.87799 17.085L9.49402 12.47L11.203 14.179C11.434 14.412 11.746 14.539 12.077 14.539C12.405 14.539 12.717 14.412 12.948 14.179L14.601 12.525L19.173 17.098H4.93701ZM19.626 16.646L15.054 12.074L19.626 7.502V16.646Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="header-contacts-item__text">
                            <a href="mailto:baikalholiday@mail.ru">baikalholiday@mail.ru</a> 
                        </div>
                    </div>
                    <div class="header-contacts-item">
                        <div id="feedback-modal-btn" class="header-contacts-item__btn btn btn-light">Обратный звонок</div>
                    </div>
                    <div class="header-contacts-item burger" id="burger">
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                    </div>
                </div>
            </div>
            <div id="mobail-menu" class="mobail-menu">
                <div class="row mobail-menu-wrap">
                    <div class="col-lg">
                        <h5 class="text-uppercase">Бронирование</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="mobail-menu-item">Отели и базы отдыха</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Теплоходы и катера</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Транспортные услуги</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg">
                        <h5 class="text-uppercase">Экскурсии</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="mobail-menu-item">Экскурсии и туры</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Экстрим туры</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg">
                        <h5 class="text-uppercase">Туры на Байкал</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="mobail-menu-item">Туры Зима-Весна</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Туры Лето-Осень</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Туры охоты и рыбалки</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg">
                        <h5 class="text-uppercase">О Байкале</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="mobail-menu-item">Карта Байкала</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Достопримечательности</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Полезная информация</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg __has-border">
                        <h5 class="text-uppercase">О нас</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="mobail-menu-item">Контакты</a>
                            </li>
                            <li>
                                <a href="#!" class="mobail-menu-item">Агентствам</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mobail-menu-contacts-item __contact">
                        <div class="header-contacts-item__icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4" d="M12 0C5.373 0 0 5.373 0 12C0 18.627 5.373 24 12 24C18.627 24 24 18.627 24 12C24 5.373 18.627 0 12 0ZM15.227 18.184C13.637 18.086 10.51 16.26 9.05301 14.62C7.60001 12.979 6.15701 9.657 6.25201 8.064C6.25201 8.064 7.98399 5.773 8.77899 5.819C9.57999 5.867 11.822 8.395 10.974 9.147C10.134 9.894 9.33701 9.848 9.29001 10.641C9.24501 11.436 9.99098 12.282 10.735 13.124C11.487 13.97 12.233 14.809 13.03 14.854C13.825 14.904 13.874 14.111 14.714 13.359C15.558 12.611 17.804 15.143 17.755 15.938C17.711 16.73 15.227 18.184 15.227 18.184Z" fill="black"/>
                            </svg>                                
                        </div>
                        <div class="header-contacts-item__text">
                            8-924-3-541-540
                        </div>
                    </div>
                    <div class="mobail-menu-contacts-item __contact">
                        <div class="header-contacts-item__icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4" d="M12 0C5.371 0 0 5.373 0 12C0 18.629 5.371 24 12 24C18.626 24 24 18.629 24 12C24 5.373 18.626 0 12 0ZM19.177 7.028L19.194 7.031L12.497 13.729C12.273 13.952 11.88 13.952 11.656 13.727L4.95599 7.028H19.177ZM4.48901 7.477C4.48901 7.472 4.492 7.469 4.492 7.469L9.04303 12.018L4.48901 16.572V7.477ZM4.93701 17.098C4.91701 17.098 4.89799 17.088 4.87799 17.085L9.49402 12.47L11.203 14.179C11.434 14.412 11.746 14.539 12.077 14.539C12.405 14.539 12.717 14.412 12.948 14.179L14.601 12.525L19.173 17.098H4.93701ZM19.626 16.646L15.054 12.074L19.626 7.502V16.646Z" fill="black"/>
                            </svg>                                
                        </div>
                        <div class="header-contacts-item__text">
                            baikalholiday@mail.ru
                        </div>
                    </div>
                    <div class="feedback-btn-wrap">
                        <a id="feedback-btn" href="#section-feedback" class="feedback-btn btn btn-primary">Подобрать тур</a>
                    </div>
                </div>
                <div id="menu-close" class="mobail-menu-close-btn">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 1L1 13" stroke="black" stroke-width="2" stroke-miterlimit="10" />
                        <path d="M1 1L13 13" stroke="black" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
            <div id="modal-feedback" class="modal-feedback">
                <div class="modal-inner">
                    <div id="modal-feedback-close" class="mobail-menu-close-btn">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 1L1 13" stroke="black" stroke-width="2" stroke-miterlimit="10"></path>
                            <path d="M1 1L13 13" stroke="black" stroke-width="2" stroke-miterlimit="10"></path>
                        </svg>
                    </div>
                    <div class="modal-heading">
                        <h2>Мы вам перезвоним!</h2>
                    </div>
                    <div class="modal-body">
                        <div class="col">
                            <input placeholder="Ваше имя" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <input placeholder="Телефон" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <input placeholder="Удобное время для звонка" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="feedback-btn-wrap">
                        <div class="feedback-agreement">
                            <input class="checkbox" type="checkbox">
                            <a href="#">Согласие на обработку персональных данных</a>
                        </div>
                        <div class="feedback-btn btn btn-primary">Отправить заявку</div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Бронирование</li>
                    <li class="breadcrumb-item"><a href="/excursions">Экскурсии</a></li>
                    <li class="breadcrumb-item"><a href="/campsites">Туры на Байкал</a></li>
                    <li class="breadcrumb-item"><a href="#section-info">О Байкале</a></li>
                    <li class="breadcrumb-item">О нас</li>
                </ol>
            </nav>
            <h1 class="main-title">
                Путешествия<br>по Байкалу
            </h1>
            <div class="main-subtitle">
                Туры по самому красивому месту России.<br>Поехали с нами за новыми впечатлениями!
            </div>
            <div class="main-btn btn btn-light">
                подобрать тур
            </div>
            <a href="#section-article" class="arrow-down">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.4999 11.0001L20.4999 28.6001" stroke="white" stroke-miterlimit="10" />
                    <path d="M13.9999 22.6L20.5004 29L26.9999 22.6" stroke="white" stroke-miterlimit="10" />
                    <circle cx="20" cy="20" r="19.5" stroke="white" />
                </svg>
            </a>
        </div>
    </section>
    <section class="section-article" id="section-article">
        <div class="container">
            <div class="articles-wrap">
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-1.jpg" alt="">
                    </div>
                    <div class="article-title">Турбазы на Байкале</div>
                </div>
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-2.jpg" alt="">
                    </div>
                    <div class="article-title">Экскурсии и туры</div>
                </div>
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-3.jpg" alt="">
                    </div>
                    <div class="article-title">Охота и рыбалка</div>
                </div>
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-4.jpg" alt="">
                    </div>
                    <div class="article-title">Экстрим туры</div>
                </div>
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-5.jpg" alt="">
                    </div>
                    <div class="article-title">Теплоходы, яхты</div>
                </div>
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-6.jpg" alt="">
                    </div>
                    <div class="article-title">Красоты Байкала</div>
                </div>
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-7.jpg" alt="">
                    </div>
                    <div class="article-title">Гостиницы в Улан-Удэ</div>
                </div>
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-8.jpg" alt="">
                    </div>
                    <div class="article-title">Транспорт</div>
                </div>
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-9.jpg" alt="">
                    </div>
                    <div class="article-title">Деловой туризм</div>
                </div>
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-10.jpg" alt="">
                    </div>
                    <div class="article-title">Круизы по Байкалу</div>
                </div>
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-11.jpg" alt="">
                    </div>
                    <div class="article-title">Зимние туры</div>
                </div>
                <div class="article">
                    <div class="article-img">
                        <img src="/img/article-12.jpg" alt="">
                    </div>
                    <div class="article-title">Карта Байкала</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-advantages">
        <div class="container">
            <h2 class="section-heading text-center">
                Основные направления деятельности
            </h2>
            <div class="advantages-wrap">
                <div class="advantages-block">
                    <div class="advantages-icon">
                        <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M70.36 11.148C63.01 4.829 53.455 1 43 1C19.804 1 1 19.804 1 43C1 53.455 4.828 63.009 11.148 70.36"
                                stroke="#70CF29" stroke-miterlimit="10" />
                            <path
                                d="M15.373 74.621C22.759 81.078 32.418 85 43 85C66.196 85 85 66.196 85 43C85 32.419 81.078 22.759 74.621 15.374"
                                stroke="#3FA9F5" stroke-miterlimit="10" />
                            <path
                                d="M51.944 40.1651C56.856 40.1651 60.851 36.1691 60.851 31.2581C60.851 26.3471 56.855 22.3501 51.944 22.3501C47.031 22.3501 43.035 26.3461 43.035 31.2581C43.035 36.1701 47.032 40.1651 51.944 40.1651ZM51.944 24.3501C55.753 24.3501 58.851 27.4491 58.851 31.2581C58.851 35.0671 55.752 38.1651 51.944 38.1651C48.134 38.1651 45.035 35.0661 45.035 31.2581C45.035 27.4491 48.135 24.3501 51.944 24.3501Z"
                                fill="#3FA9F5" />
                            <path
                                d="M52.001 43.7661C43.6 43.7661 37 50.6001 37 59.0001V60.0001H67V59.0001C67 50.6001 60.401 43.7661 52.001 43.7661ZM38.747 58.0001C39.26 51.1671 44.983 45.7661 51.945 45.7661C58.905 45.7661 64.629 51.1681 65.141 58.0001H38.747Z"
                                fill="#3FA9F5" />
                            <path
                                d="M30.303 44.1031C34.316 44.1031 37.581 40.8381 37.581 36.8241C37.581 32.8111 34.316 29.5461 30.303 29.5461C26.289 29.5461 23.023 32.8111 23.023 36.8241C23.022 40.8381 26.289 44.1031 30.303 44.1031ZM30.303 31.5461C33.214 31.5461 35.581 33.9141 35.581 36.8241C35.581 39.7351 33.213 42.1031 30.303 42.1031C27.391 42.1031 25.023 39.7351 25.023 36.8241C25.022 33.9141 27.391 31.5461 30.303 31.5461Z"
                                fill="#3FA9F5" />
                            <path
                                d="M18 59.0001V60.0001H33V58.0001H20.044C20.521 52.6081 24.829 48.5181 30.242 48.5181C32.287 48.5181 33.977 48.9291 35.409 49.7731L36.426 48.0501C34.678 47.0191 32.655 46.5181 30.243 46.5181C23.377 46.5181 18 52.0011 18 59.0001Z"
                                fill="#3FA9F5" />
                        </svg>
                    </div>
                    <div class="advantages-text">
                        Групповые и индивидуальные туры по Байкалу для российских и иностранных туристов
                    </div>
                </div>
                <div class="advantages-block">
                    <div class="advantages-icon">
                        <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M70.36 11.148C63.01 4.829 53.455 1 43 1C19.804 1 1 19.804 1 43C1 53.455 4.82801 63.009 11.148 70.36"
                                stroke="#70CF29" stroke-miterlimit="10" />
                            <path
                                d="M15.373 74.621C22.759 81.078 32.4181 85 43.0001 85C66.1961 85 85.0001 66.196 85.0001 43C85.0001 32.419 81.0781 22.759 74.6211 15.374"
                                stroke="#3FA9F5" stroke-miterlimit="10" />
                            <path
                                d="M44.0002 38H55.9802L64.7432 30.225L55.9592 23H44.0002V20H42.0002V23H25.0002V38H42.0002V43H31.8602L23.0962 50.755L31.8802 58H42.0002V65H32.0002V67H55.0002V65H44.0002V58H62.0002V43H44.0002V38ZM27.0002 25H55.2422L61.6652 30.282L55.2212 36H27.0002V25ZM60.0002 45V56H44.0002H42.0002H32.5992L26.1752 50.701L32.6182 45H60.0002Z"
                                fill="#3FA9F5" />
                        </svg>
                    </div>
                    <div class="advantages-text">
                        Экскурсии по городу Улан-Удэ, Республике Бурятия, городу Иркутск
                    </div>
                </div>
                <div class="advantages-block">
                    <div class="advantages-icon">
                        <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M70.36 11.148C63.01 4.829 53.455 1 43 1C19.804 1 1 19.804 1 43C1 53.455 4.82801 63.009 11.148 70.36"
                                stroke="#70CF29" stroke-miterlimit="10" />
                            <path
                                d="M15.373 74.621C22.759 81.078 32.4181 85 43.0001 85C66.1961 85 85.0001 66.196 85.0001 43C85.0001 32.419 81.078 22.759 74.621 15.374"
                                stroke="#3FA9F5" stroke-miterlimit="10" />
                            <path
                                d="M62.471 24H24.53C22.117 24 20.001 26.309 20.001 28.941V53.647C20.001 56.088 21.99 58 24.53 58H27V68.282L38.155 58H62.47C65.01 58 66.999 56.088 66.999 53.647V28.941C67 26.309 64.884 24 62.471 24ZM65 53.647C65 54.988 63.913 56 62.471 56H37.374L29 63.718V56H24.529C23.087 56 22 54.988 22 53.647V28.941C22 27.457 23.253 26 24.529 26H62.47C63.746 26 64.999 27.457 64.999 28.941V53.647H65Z"
                                fill="#3FA9F5" />
                            <path
                                d="M42.9002 30.377C36.9092 30.377 32.0352 35.2339 32.0352 41.2039C32.0352 47.1739 36.9092 52.031 42.9002 52.031C48.8902 52.031 53.7632 47.1739 53.7632 41.2039C53.7632 35.2339 48.8912 30.377 42.9002 30.377ZM51.6712 40H47.5192C47.3972 37.336 46.8812 34.7569 45.9922 32.9409C48.9922 34.0589 51.2232 36.747 51.6712 40ZM42.9002 49.8829C42.0572 49.8829 40.4532 47.104 40.2692 42H45.5292C45.3462 47.106 43.7412 49.8829 42.9002 49.8829ZM40.2802 40C40.5112 35.068 42.0732 32.392 42.9002 32.392C43.7262 32.392 45.2902 35.07 45.5182 40H40.2802ZM39.8102 32.9409C38.9202 34.7559 38.4042 37.335 38.2812 40H34.1292C34.5762 36.747 36.8082 34.0589 39.8102 32.9409ZM34.0752 42H38.2692C38.3702 44.845 38.9212 47.6149 39.8962 49.4989C36.7252 48.3549 34.3892 45.468 34.0752 42ZM45.9032 49.4989C46.8772 47.6169 47.4272 44.846 47.5292 42H51.7232C51.4102 45.468 49.0752 48.3559 45.9032 49.4989Z"
                                fill="#3FA9F5" />
                        </svg>
                    </div>
                    <div class="advantages-text">
                        Услуги гидов-переводчиков на любом иностранном языке
                    </div>
                </div>
                <div class="advantages-block">
                    <div class="advantages-icon">
                        <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M70.36 11.148C63.01 4.829 53.455 1 43 1C19.803 1 1 19.804 1 43C1 53.455 4.82801 63.009 11.148 70.36"
                                stroke="#70CF29" stroke-miterlimit="10" />
                            <path
                                d="M15.373 74.621C22.759 81.078 32.4181 85 43.0001 85C66.1961 85 85.0001 66.196 85.0001 43C85.0001 32.419 81.078 22.759 74.621 15.374"
                                stroke="#3FA9F5" stroke-miterlimit="10" />
                            <path
                                d="M65.4141 41L60.4141 36H57.4141L52.4141 31H36.0001V20H30.0001V31H24.0001V36H21.0001V41H15.6631L21.2521 60H63.67L71.493 41H65.4141ZM32.0001 22H34.0001V31H32.0001V22ZM26.0001 33H51.5861L54.5861 36H26.0001V33ZM23.0001 38H59.5861L62.5861 41H23.0001V38ZM62.3301 58H22.748L18.337 43H68.5071L62.3301 58Z"
                                fill="#3FA9F5" />
                            <path
                                d="M30 46.5C27.794 46.5 26 48.294 26 50.5C26 52.706 27.794 54.5 30 54.5C32.206 54.5 34 52.706 34 50.5C34 48.294 32.206 46.5 30 46.5ZM30 52.5C28.897 52.5 28 51.603 28 50.5C28 49.397 28.897 48.5 30 48.5C31.103 48.5 32 49.397 32 50.5C32 51.603 31.103 52.5 30 52.5Z"
                                fill="#3FA9F5" />
                            <path
                                d="M43 46.5C40.794 46.5 39 48.294 39 50.5C39 52.706 40.794 54.5 43 54.5C45.206 54.5 47 52.706 47 50.5C47 48.294 45.206 46.5 43 46.5ZM43 52.5C41.897 52.5 41 51.603 41 50.5C41 49.397 41.897 48.5 43 48.5C44.103 48.5 45 49.397 45 50.5C45 51.603 44.103 52.5 43 52.5Z"
                                fill="#3FA9F5" />
                            <path
                                d="M56 46.5C53.794 46.5 52 48.294 52 50.5C52 52.706 53.794 54.5 56 54.5C58.206 54.5 60 52.706 60 50.5C60 48.294 58.206 46.5 56 46.5ZM56 52.5C54.897 52.5 54 51.603 54 50.5C54 49.397 54.897 48.5 56 48.5C57.103 48.5 58 49.397 58 50.5C58 51.603 57.103 52.5 56 52.5Z"
                                fill="#3FA9F5" />
                        </svg>
                    </div>
                    <div class="advantages-text">
                        Круизы и прогулки по Байкалу на теплоходах и катерах
                    </div>
                </div>
                <div class="advantages-block">
                    <div class="advantages-icon">
                        <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M70.36 11.148C63.01 4.82801 53.455 1 43 1C19.804 1 1 19.805 1 43C1 53.455 4.828 63.01 11.148 70.36"
                                stroke="#70CF29" stroke-miterlimit="10" />
                            <path
                                d="M15.373 74.6211C22.759 81.0781 32.418 85.0001 43 85.0001C66.196 85.0001 85 66.1951 85 43.0001C85 32.4191 81.078 22.759 74.621 15.373"
                                stroke="#3FA9F5" stroke-miterlimit="10" />
                            <path
                                d="M52.789 43.263C53.851 44.077 55.055 45 57 45C58.724 45 59.925 44.117 60.985 43.338C61.962 42.62 62.806 42 64 42C65.167 42 65.97 42.603 66.9 43.3C67.963 44.097 69.167 45 71 45V43C69.833 43 69.03 42.397 68.1 41.7C67.037 40.903 65.833 40 64 40C62.15 40 60.902 40.917 59.801 41.727C58.871 42.41 58.068 43 57 43C55.733 43 54.933 42.387 54.005 41.676C53.183 41.046 52.266 40.357 51 40.105V33.899C53.279 33.435 55 31.415 55 29.001C55 26.244 52.757 24.001 50 24.001C47.243 24.001 45 26.244 45 29.001C45 31.415 46.721 33.436 49 33.899V40.105C47.708 40.358 46.755 41.059 45.9 41.701C44.97 42.398 44.167 43.001 43 43.001C41.833 43.001 41.03 42.398 40.1 41.701C39.037 40.904 37.833 40.001 36 40.001C34.167 40.001 32.961 40.904 31.899 41.701C30.969 42.398 30.164 43.001 28.998 43.001C27.824 43.001 27.007 42.394 26.064 41.69C25.001 40.898 23.793 40.001 21.989 40.001C20.118 40.001 18.902 40.915 17.839 41.722C16.934 42.407 16 43 15 43V45C17 45 18.006 44.104 19.048 43.313C19.977 42.608 20.802 42 22 42C23.14 42 23.943 42.6 24.874 43.293C25.946 44.093 27.163 45 29 45C30.833 45 32.038 44.097 33.1 43.3C34.03 42.603 34.833 42 36 42C37.167 42 37.97 42.603 38.9 43.3C39.963 44.097 41.167 45 43 45C44.833 45 46.038 44.097 47.1 43.3C47.738 42.821 48.323 42.404 49 42.178V47.105C47.708 47.358 46.755 48.059 45.9 48.701C44.97 49.398 44.167 50.001 43 50.001C41.833 50.001 41.03 49.398 40.1 48.701C39.037 47.904 37.833 47.001 36 47.001C34.167 47.001 32.961 47.904 31.899 48.701C30.969 49.398 30.164 50.001 28.998 50.001C27.824 50.001 27.007 49.394 26.064 48.69C25.001 47.898 23.793 47.001 21.989 47.001C20.118 47.001 18.902 47.915 17.839 48.722C16.934 49.407 16 50 15 50V52C17 52 18.006 51.104 19.048 50.313C19.977 49.608 20.802 49 22 49C23.14 49 23.943 49.6 24.874 50.293C25.946 51.093 27.163 52 29 52C30.833 52 32.038 51.097 33.1 50.3C34.03 49.603 34.833 49 36 49C37.167 49 37.97 49.603 38.9 50.3C39.963 51.097 41.167 52 43 52C44.833 52 46.038 51.097 47.1 50.3C47.738 49.821 48.323 49.404 49 49.178V62C49 65.859 45.86 69 42 69C38.14 69 35 65.859 35 62V59.414L39.293 63.707L40.707 62.293L33 54.586V62C33 66.963 37.038 71 42 71C46.962 71 51 66.963 51 62V49.181C51.629 49.397 52.169 49.788 52.789 50.263C53.851 51.077 55.055 52 57 52C58.724 52 59.925 51.117 60.985 50.338C61.962 49.62 62.806 49 64 49C65.167 49 65.97 49.603 66.9 50.3C67.963 51.097 69.167 52 71 52V50C69.833 50 69.03 49.397 68.1 48.7C67.037 47.903 65.833 47 64 47C62.15 47 60.902 47.917 59.801 48.727C58.871 49.41 58.068 50 57 50C55.733 50 54.933 49.387 54.005 48.676C53.183 48.046 52.266 47.357 51 47.105V42.181C51.629 42.396 52.169 42.788 52.789 43.263ZM47 29C47 27.346 48.346 26 50 26C51.654 26 53 27.346 53 29C53 30.654 51.654 32 50 32C48.346 32 47 30.654 47 29Z"
                                fill="#3FA9F5" />
                            <path d="M51 16H49V24H50H51V16Z" fill="#3FA9F5" />
                        </svg>
                    </div>
                    <div class="advantages-text">
                        Профессиональная организация охоты и рыбалки на Байкале
                    </div>
                </div>
                <div class="advantages-block">
                    <div class="advantages-icon">
                        <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M70.36 11.148C63.01 4.82801 53.455 1 43 1C19.804 1 1 19.805 1 43C1 53.455 4.82801 63.01 11.148 70.36"
                                stroke="#70CF29" stroke-miterlimit="10" />
                            <path
                                d="M15.373 74.6211C22.759 81.0781 32.4181 85.0001 43.0001 85.0001C66.1961 85.0001 85.0001 66.1951 85.0001 43.0001C85.0001 32.4191 81.0781 22.759 74.6211 15.373"
                                stroke="#3FA9F5" stroke-miterlimit="10" />
                            <path
                                d="M64 27C64 23.141 60.86 20 57 20H28C24.14 20 21 23.141 21 27V61H27V65H29V61H56V65H58V61H64V27ZM48.41 44C47.931 41.167 45.468 39 42.5 39C39.532 39 37.069 41.167 36.59 44H23V28H62V44H48.41ZM46.358 44H38.642C39.089 42.279 40.642 41 42.5 41C44.358 41 45.911 42.279 46.358 44ZM28 22H57C59.415 22 61.434 23.721 61.899 26H23.101C23.566 23.721 25.585 22 28 22ZM23 59V46H62V59H23Z"
                                fill="#3FA9F5" />
                            <path
                                d="M30.5 48C28.019 48 26 50.019 26 52.5C26 54.981 28.019 57 30.5 57C32.981 57 35 54.981 35 52.5C35 50.019 32.981 48 30.5 48ZM30.5 55C29.122 55 28 53.879 28 52.5C28 51.121 29.122 50 30.5 50C31.878 50 33 51.121 33 52.5C33 53.879 31.878 55 30.5 55Z"
                                fill="#3FA9F5" />
                            <path
                                d="M54.5 48C52.019 48 50 50.019 50 52.5C50 54.981 52.019 57 54.5 57C56.981 57 59 54.981 59 52.5C59 50.019 56.981 48 54.5 48ZM54.5 55C53.122 55 52 53.879 52 52.5C52 51.121 53.122 50 54.5 50C55.878 50 57 51.121 57 52.5C57 53.879 55.878 55 54.5 55Z"
                                fill="#3FA9F5" />
                        </svg>
                    </div>
                    <div class="advantages-text">
                        Аренда автотранспорта для экскурсий и пассажирских перевозок
                    </div>
                </div>
                <div class="advantages-block">
                    <div class="advantages-icon">
                        <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M70.36 11.148C63.01 4.82801 53.455 1 43 1C19.804 1 1 19.805 1 43C1 53.455 4.82801 63.01 11.148 70.36"
                                stroke="#70CF29" stroke-miterlimit="10" />
                            <path
                                d="M15.373 74.6211C22.759 81.0781 32.4181 85.0001 43.0001 85.0001C66.1961 85.0001 85.0001 66.1951 85.0001 43.0001C85.0001 32.4191 81.078 22.759 74.621 15.373"
                                stroke="#3FA9F5" stroke-miterlimit="10" />
                            <path
                                d="M60 31H51V29C51 26.243 48.757 24 46 24H40C37.243 24 35 26.243 35 29V31H26C23.243 31 21 33.243 21 36V55C21 57.757 23.243 60 26 60H60C62.757 60 65 57.757 65 55V36C65 33.243 62.757 31 60 31ZM37 29C37 27.346 38.346 26 40 26H46C47.654 26 49 27.346 49 29V31H37V29ZM63 55C63 56.654 61.654 58 60 58H26C24.346 58 23 56.654 23 55V36C23 34.346 24.346 33 26 33H60C61.654 33 63 34.346 63 36V55Z"
                                fill="#3FA9F5" />
                            <path d="M35 47H33V55H35V47Z" fill="#3FA9F5" />
                            <path d="M41 44H39V55H41V44Z" fill="#3FA9F5" />
                            <path d="M47 41H45V55H47V41Z" fill="#3FA9F5" />
                            <path d="M53 38H51V55H53V38Z" fill="#3FA9F5" />
                        </svg>
                    </div>
                    <div class="advantages-text">
                        Бронирование гостиниц в городе Улан-Удэ и на Байкале
                    </div>
                </div>
                <div class="advantages-block">
                    <div class="advantages-icon">
                        <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M70.36 11.148C63.01 4.82801 53.455 1 43 1C19.803 1 1 19.805 1 43C1 53.455 4.82801 63.01 11.148 70.36"
                                stroke="#70CF29" stroke-miterlimit="10" />
                            <path
                                d="M15.373 74.6211C22.759 81.0781 32.4181 85.0001 43.0001 85.0001C66.1961 85.0001 85.0001 66.1951 85.0001 43.0001C85.0001 32.4191 81.078 22.759 74.621 15.373"
                                stroke="#3FA9F5" stroke-miterlimit="10" />
                            <path
                                d="M39.8771 39.0749C44.9861 39.0749 49.1431 34.9189 49.1431 29.8099C49.1431 24.7009 44.9871 20.5459 39.8771 20.5459C34.7671 20.5459 30.6111 24.7009 30.6111 29.8099C30.6111 34.9189 34.7681 39.0749 39.8771 39.0749ZM39.8771 22.5469C43.8831 22.5469 47.1431 25.8059 47.1431 29.8109C47.1431 33.8169 43.8831 37.0759 39.8771 37.0759C35.8711 37.0759 32.6111 33.8169 32.6111 29.8109C32.6111 25.8059 35.8711 22.5469 39.8771 22.5469Z"
                                fill="#3FA9F5" />
                            <path
                                d="M43 57.9998H26.032C26.514 50.5698 32.34 44.8867 39.689 44.8867C42.406 44.8867 44.585 45.4258 46.545 46.5818L47.561 44.8588C45.28 43.5128 42.779 42.8857 39.689 42.8857C30.891 42.8857 24 49.9637 24 58.9987V59.9987H43V57.9998Z"
                                fill="#3FA9F5" />
                            <path
                                d="M67.7289 66.018L61.9479 58.95C62.6139 57.784 62.9999 56.437 62.9999 55.001C62.9999 50.59 59.4109 47.001 54.9999 47.001C50.5889 47.001 46.9999 50.59 46.9999 55.001C46.9999 56.438 47.3859 57.784 48.0519 58.95L42.2709 66.018C42.0249 66.319 41.9759 66.736 42.1449 67.085C42.3139 67.434 42.6399 67.653 43.0599 67.65L46.9789 67.593L48.3719 71.228C48.5119 71.594 48.8529 71.844 49.2439 71.869C49.2649 71.87 49.2849 71.871 49.3059 71.871C49.6739 71.871 50.0149 71.668 50.1889 71.341L54.6339 62.982C54.7559 62.988 54.8769 63.001 55.0009 63.001C55.1249 63.001 55.2459 62.988 55.3679 62.982L59.8129 71.341C59.9869 71.668 60.3279 71.871 60.6959 71.871C60.7169 71.871 60.7369 71.87 60.7579 71.869C61.1489 71.845 61.4899 71.595 61.6299 71.228L63.0229 67.593L66.9419 67.65C67.3659 67.658 67.6879 67.434 67.8569 67.085C68.0259 66.736 67.9759 66.318 67.7289 66.018ZM49.4529 68.463L48.5959 66.227C48.4459 65.834 48.1119 65.564 47.6479 65.584L45.1799 65.619L49.2909 60.594C50.1899 61.512 51.3089 62.215 52.5619 62.617L49.4529 68.463ZM48.9999 55C48.9999 51.691 51.6909 49 54.9999 49C58.3089 49 60.9999 51.691 60.9999 55C60.9999 58.309 58.3089 61 54.9999 61C51.6909 61 48.9999 58.309 48.9999 55ZM62.3529 65.584C61.9439 65.569 61.5549 65.834 61.4049 66.227L60.5479 68.463L57.4399 62.617C58.6929 62.215 59.8109 61.512 60.7109 60.594L64.8219 65.619L62.3529 65.584Z"
                                fill="#3FA9F5" />
                        </svg>
                    </div>
                    <div class="advantages-text">
                        Организация индивидуальных туров и VIP-туров на Байкале
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-offers">
        <div class="container">
            <h2 class="section-heading">Популярные предложения</h2>
            <div class="offers-wrap">
                <div class="offer-group-1">
                    <div class="offer-group-1-1">
                        <div class="offer-block offer-block-1">
                            <div class="offer-title">Зимний однодневный тур на Чивыркуйский залив</div>
                            <div class="offer-text">Cтоимость 4000 руб.</div>
                        </div>
                        <div class="offer-block offer-block-2">
                            <div class="offer-title">Зимний однодневный тур на остров Ольхон</div>
                            <div class="offer-text">Cтоимость 5000 руб.</div>
                        </div>
                        <div class="offer-block offer-block-3">
                            <div class="offer-title">Обзорная экскурсия по Улан-Удэ</div>
                            <div class="offer-text">Продолжительность 3 часа Cтоимость от 500 руб.</div>
                        </div>
                        <div class="offer-block offer-block-4">
                            <div class="offer-title">Эко-отель «Байкальское шале», с. Максимиха</div>
                            <div class="offer-text">Стоимость от 6500 руб.</div>
                        </div>
                    </div>
                    <div class="offer-group-1-2">
                        <div class="offer-block-max">
                            <div class="offer-title">Экскурсия в Иволгинский дацан</div>
                            <div class="offer-text">Продолжительность 4 часа Cтоимость от 500 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="offer-group-2">
                    <div class="offer-block offer-block-5">
                        <div class="offer-title">Летний однодневный тур в Чивыркуйский залив</div>
                        <div class="offer-text">Cтоимость 4000 руб.</div>
                    </div>
                    <div class="offer-block offer-block-6">
                        <div class="offer-title">Отель «Белая Карета», с. Горячинск</div>
                        <div class="offer-text">Cтоимость от 3200 руб.</div>
                    </div>
                    <div class="offer-block offer-block-7">
                        <div class="offer-title">Однодневная поездка на Байкал «Байкальская Гавань»</div>
                        <div class="offer-text">Стоимость от 1000 руб.</div>
                    </div>
                    <div class="offer-block offer-block-8">
                        <div class="offer-title">Парк-отель «Сагаан-Морин», с. Сухая</div>
                        <div class="offer-text">Стоимость от 3500 руб.</div>
                    </div>
                    <div class="offer-block offer-block-9">
                        <div class="offer-title">Летний однодневный тур на остров Ольхон</div>
                        <div class="offer-text">Стоимость 8500 руб.</div>
                    </div>
                    <div class="offer-block offer-block-10">
                        <div class="offer-title">Парк-отель «Байкальская Ривьера», с. Гремячинск</div>
                        <div class="offer-text">Cтоимость от 3700 руб.</div>
                    </div>
                    <div class="offer-block offer-block-11">
                        <div class="offer-title">Зимний тур «Чивыркуйская сказка»</div>
                        <div class="offer-text">Стоимость 2000 руб.</div>
                    </div>
                    <div class="offer-block offer-block-12">
                        <div class="offer-next-title">Показать все предложения</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-map">
        <div class="container">
            <h2 class="section-heading text-center">Карта Байкала</h2>
            <div class="map-wrap">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2420868.4242121154!2d104.58706452339008!3d53.662495449941964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5dab7dedcf8dd873%3A0xf2489412c5853349!2z0JHQsNC50LrQsNC7!5e0!3m2!1sru!2skz!4v1623332672185!5m2!1sru!2skz"
                    width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
            <div class="video-block-wrap">
                <div class="video-block-info">
                    <h2 class="video-block-info__title">О Байкале</h2>
                    <div class="video-block-info__text">
                        <p>Озеро Байкал – глубочайшее и древнейшее озеро планеты. Древние жители Прибайкалья называли
                            его Священным морем и считали, что в Байкале нет дна, обожествляли и наделяли его
                            мистическими свойствами. Именно здесь пронзительные чувства и скрытые способности человека
                            находят выплеск.</p>
                        <p>Познается что-то новое не только в природе, но и в самом себе. Многие посетившие Байкал люди
                            утверждают, что озеро оказало большое влияние на их дальнейшую жизнь.</p>
                    </div>
                    <div class="video-block-info__next">Читать подробней</div>
                </div>
                <div class="video-block__video">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd"
                            d="M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60ZM22.1918 44.647L46.8493 30.411L22.1918 16.1749L22.1918 44.647Z"
                            fill="white" />
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <section class="section-gallery">
        <div class="container">
            <h2 class="section-heading">
                Фотогалерея
                <div class="carousel-controls__wrap">
                    <a href="#">Перейти в раздел</a>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="43.5" y="43.5" width="43" height="43" rx="21.5" transform="rotate(-180 43.5 43.5)"
                                stroke="#0061D9" />
                            <path d="M24 29L18 23.0016L24 17" stroke="#0061D9" stroke-width="2"
                                stroke-miterlimit="10" />
                        </svg>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="43" height="43" rx="21.5" stroke="#0061D9" />
                            <path d="M19.2207 17L25.2207 22.9984L19.2207 29" stroke="#0061D9" stroke-width="2"
                                stroke-miterlimit="10" />
                        </svg>
                    </button>
                </div>
            </h2>

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="gallery-img__wrapper">
                            <div class="gallery-img"><img src="/img/gallery-1.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-2.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-3.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-4.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-5.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-6.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="gallery-img__wrapper">
                            <div class="gallery-img"><img src="/img/gallery-1.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-2.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-3.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-4.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-5.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-6.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="gallery-img__wrapper">
                            <div class="gallery-img"><img src="/img/gallery-1.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-2.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-3.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-4.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-5.jpg" alt=""></div>
                            <div class="gallery-img"><img src="/img/gallery-6.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="section-info" class="section-info">
        <div class="container">
            <h1 class="section-heading text-center">Байкальский отдых с нами – это легко!</h1>
            <div class="info-wrap">
                <div class="info-img">
                    <img src="/img/info.png" alt="">
                </div>
                <div class="info-text">
                    На сайте туристического агентства «Байкальский отдых» вы найдете всю необходимую информацию о
                    туристических базах отдыха на озере Байкал. Любите ли вы отличный сервис и европейский комфорт или
                    предпочитаете прочувствовать все трудности дикого туризма и окунуться в атмосферу байкальской
                    природы, здесь вы сможете найти турбазу по своему вкусу.
                    Туристические базы отдыха на Байкале предоставляют разнообразные условия размещения, они отличаются
                    по перечню предлагаемых услуг и уровню комфорта.
                    Есть большие турбазы с полностью организованным питанием и вечерними дискотеками, есть также
                    небольшие малолюдные базы всего с несколькими коттеджами. Можно арендовать отдельный гостевой домик
                    с кухней и готовить пищу самостоятельно.
                    Среди этого многообразия обязательно найдется подходящая, именно вам, база отдыха. Тем не менее,
                    Байкал, до сих пор, обладает всеми оттенками дикого экотуризма, чем и привлекает, уставших от
                    городской суеты, туристов.
                    Если вы предпочитаете зимний байкальский отдых, к Вашим услугам круглогодичные отапливаемые турбазы
                    и различные зимние развлечения. Байкал зимой поражает кристальной чистотой и прозрачностью льда.
                    Туристы очень любят отмечать Новогодние праздники и Рождество на турбазах Байкала, так как новый год
                    на Байкале отличается особым волшебством. Развлекательную новогоднюю программу готовит почти каждая
                    турбаза.
                </div>
            </div>
            <div class="statistic-wrap">
                <div class="statistic" style="width: 8%;">
                    <div class="statistic-title">7</div>
                    <div class="statistic-text">лет<br>успешной работы</div>
                </div>
                <div class="statistic">
                    <div class="statistic-title">250+</div>
                    <div class="statistic-text">отелей<br>на Байкале</div>
                </div>
                <div class="statistic">
                    <div class="statistic-title">100+</div>
                    <div class="statistic-text">различных<br>туров</div>
                </div>
                <div class="statistic" style="width: 33%;">
                    <div class="statistic-title">32 000</div>
                    <div class="statistic-text">кв. км – площадь на которой мы<br>организовываем путешествия</div>
                </div>
                <div class="statistic">
                    <div class="statistic-title">50 000</div>
                    <div class="statistic-text">довольных туристов<br>от 3 до 85 лет</div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-feedback" class="section-feedback">
        <div class="container">
            <h2 class="section-heading text-center">Забронируйте отдых на Байкале</h2>
            <div class="feed-baack__wrap">
                <div class="row">
                    <div class="col">
                        <input placeholder="Ваше имя" type="text" class="form-control">
                    </div>
                    <div class="col">
                        <input placeholder="Телефон" type="text" class="form-control">
                    </div>
                    <div class="col">
                        <input placeholder="E-mail" type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input placeholder="Местность Байкала" type="text" class="form-control">
                    </div>
                    <div class="col __count">
                        <input placeholder="Количество взрослых" type="text" class="form-control">
                    </div>
                    <div class="col __count">
                        <input placeholder="Количество детей, их возраст" type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <input placeholder="Дата заезда" type="text" class="form-control mb-24">
                        <input placeholder="Дата отъезда" type="text" class="form-control">
                    </div>
                    <div class="col-9">
                        <textarea placeholder="Комментарий" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="feedback-btn-wrap">
                    <div class="feedback-btn btn btn-primary">Отправить заявку</div>
                    <div class="feedback-agreement">
                        <input type="checkbox">
                        <a href="#">Согласие на обработку персональных данных</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer bg-dark text-white">
        <div class="container p-4">
            <div class="row __has-border">
                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Бронирование</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Отели и базы отдыха</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Теплоходы и катера</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Транспортные услуги</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Экскурсии</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Экскурсии и туры</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Экстрим туры</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Туры на Байкал</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Туры Зима-Весна</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Туры Лето-Осень</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Туры охоты и рыбалки</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">О Байкале</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Карта Байкала</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Достопримечательности</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Полезная информация</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">О нас</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Контакты</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Агентствам</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-burger">
                    <a href="#header" class="burger" id="footer-burger">
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                    </a>
                    <h5>МЕНЮ</h5>
                </div>
                
            </div>
            <div class="row _sub">
                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h6>Турагентство «Байкальский отдых»</h6>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">© 2021. Все права защищены</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h6>Заказ туров и бронирование:</h6>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="tel:89243541540" class="text-white">тел. 8-924-3-541-540</a>
                        </li>
                        <li>
                            <a href="mailto:baikalholiday@mail.ru" class="text-white">e-mail: baikalholiday@mail.ru</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg col-md-6 mb-4 mb-md-0">
                    <h6>Адрес:</h6>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Ког. Улан-Удэ, ул.Гражданская, 20,</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">отель «Рестон», 1 этажнтакты</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg col-md-6 mb-4 mb-md-0 text-right">
                    <h6>Политика конфиденциальности</h6>
                    <div class="designer-block">
                        <svg width="110" height="22" viewBox="0 0 110 22" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path
                                    d="M8.66602 19.0918H7.54688V17H1.42383V19.0977H0.298828L0.292969 16.0801H0.990234C1.35742 15.666 1.64844 15.1113 1.86328 14.416C2.08203 13.7168 2.21875 12.9512 2.27344 12.1191L2.46094 8.46875H7.56445V16.0801H8.67773L8.66602 19.0918ZM2.27344 16.0801H6.43359V9.39453H3.54492L3.42188 11.9023C3.37109 12.8828 3.24023 13.7188 3.0293 14.4102C2.82227 15.1016 2.57031 15.6582 2.27344 16.0801ZM13.9453 10.6602H15.0293V17H13.9453V12.377L11.0215 17H9.9375V10.6602H11.0215V15.2891L13.9453 10.6602ZM20.2559 12.3945C20.2559 12.0977 20.1426 11.8633 19.916 11.6914C19.6895 11.5156 19.3789 11.4277 18.9844 11.4277C18.6016 11.4277 18.2812 11.5273 18.0234 11.7266C17.7695 11.9258 17.6426 12.1602 17.6426 12.4297H16.5645C16.5645 11.8789 16.7949 11.4277 17.2559 11.0762C17.7168 10.7246 18.293 10.5488 18.9844 10.5488C19.7266 10.5488 20.3047 10.709 20.7188 11.0293C21.1328 11.3457 21.3398 11.7988 21.3398 12.3887C21.3398 12.6738 21.2539 12.9355 21.082 13.1738C20.9102 13.4121 20.666 13.6016 20.3496 13.7422C21.0879 13.9922 21.457 14.4844 21.457 15.2188C21.457 15.8008 21.2324 16.2617 20.7832 16.6016C20.334 16.9414 19.7344 17.1113 18.9844 17.1113C18.2539 17.1113 17.6504 16.9336 17.1738 16.5781C16.7012 16.2188 16.4648 15.7344 16.4648 15.125H17.543C17.543 15.4336 17.6797 15.6992 17.9531 15.9219C18.2305 16.1406 18.5742 16.25 18.9844 16.25C19.3984 16.25 19.7324 16.1543 19.9863 15.9629C20.2402 15.7715 20.3672 15.5234 20.3672 15.2188C20.3672 14.8633 20.2598 14.6094 20.0449 14.457C19.834 14.3008 19.5039 14.2227 19.0547 14.2227H17.9707V13.3086H19.1484C19.8867 13.2891 20.2559 12.9844 20.2559 12.3945ZM26.7773 17C26.7148 16.875 26.6641 16.6523 26.625 16.332C26.1211 16.8555 25.5195 17.1172 24.8203 17.1172C24.1953 17.1172 23.6816 16.9414 23.2793 16.5898C22.8809 16.2344 22.6816 15.7852 22.6816 15.2422C22.6816 14.582 22.9316 14.0703 23.4316 13.707C23.9355 13.3398 24.6426 13.1562 25.5527 13.1562H26.6074V12.6582C26.6074 12.2793 26.4941 11.9785 26.2676 11.7559C26.041 11.5293 25.707 11.416 25.2656 11.416C24.8789 11.416 24.5547 11.5137 24.293 11.709C24.0312 11.9043 23.9004 12.1406 23.9004 12.418H22.8105C22.8105 12.1016 22.9219 11.7969 23.1445 11.5039C23.3711 11.207 23.6758 10.9727 24.0586 10.8008C24.4453 10.6289 24.8691 10.543 25.3301 10.543C26.0605 10.543 26.6328 10.7266 27.0469 11.0938C27.4609 11.457 27.6758 11.959 27.6914 12.5996V15.5176C27.6914 16.0996 27.7656 16.5625 27.9141 16.9062V17H26.7773ZM24.9785 16.1738C25.3184 16.1738 25.6406 16.0859 25.9453 15.9102C26.25 15.7344 26.4707 15.5059 26.6074 15.2246V13.9238H25.7578C24.4297 13.9238 23.7656 14.3125 23.7656 15.0898C23.7656 15.4297 23.8789 15.6953 24.1055 15.8867C24.332 16.0781 24.623 16.1738 24.9785 16.1738ZM33.4922 10.6602H34.5762V17H33.4922V12.377L30.5684 17H29.4844V10.6602H30.5684V15.2891L33.4922 10.6602ZM33.7852 8.35156C33.7852 8.82422 33.623 9.20508 33.2988 9.49414C32.9785 9.7793 32.5566 9.92188 32.0332 9.92188C31.5098 9.92188 31.0859 9.77734 30.7617 9.48828C30.4375 9.19922 30.2754 8.82031 30.2754 8.35156H31.1602C31.1602 8.625 31.2344 8.83984 31.3828 8.99609C31.5312 9.14844 31.748 9.22461 32.0332 9.22461C32.3066 9.22461 32.5195 9.14844 32.6719 8.99609C32.8281 8.84375 32.9062 8.62891 32.9062 8.35156H33.7852ZM41.4961 17H40.4121V14.293H37.5V17H36.4102V10.6602H37.5V13.4082H40.4121V10.6602H41.4961V17Z"
                                    fill="white" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M103.666 21.936H104.66V18.616L107.705 21.591C107.787 21.655 107.873 21.718 107.958 21.778C108.029 21.826 108.099 21.869 108.172 21.908C108.235 21.937 108.303 21.967 108.373 21.979C108.445 21.994 108.518 22.001 108.59 22.001C108.738 22.001 108.887 21.976 109.026 21.91C109.149 21.85 109.256 21.766 109.346 21.661C109.438 21.552 109.502 21.425 109.548 21.292C109.594 21.144 109.617 20.989 109.617 20.838V17.72H108.621V21.031L105.57 18.029C105.333 17.797 105.043 17.621 104.701 17.621C104.568 17.621 104.439 17.65 104.316 17.703C104.197 17.757 104.084 17.83 103.982 17.919C103.889 18.008 103.81 18.115 103.753 18.232C103.694 18.351 103.665 18.477 103.665 18.608V21.936H103.666ZM88.75 14.85H92.239V8.59201L103.75 14.352C104.992 14.969 106.873 15.116 108.082 14.352C109.264 13.608 109.617 12.319 109.617 10.993V0.126007H106.108H68.859C68.171 0.126007 67.495 0.230998 66.841 0.434998C66.202 0.635998 65.607 0.930991 65.073 1.33499C64.553 1.72599 64.133 2.20601 63.811 2.76401C63.473 3.34901 63.328 3.99299 63.328 4.66199C63.328 5.30399 63.46 5.91501 63.743 6.48901C64.02 7.04401 64.386 7.53 64.856 7.936C65.329 8.35201 65.868 8.66401 66.458 8.88101C67.063 9.10901 67.694 9.22101 68.343 9.22101H82.749V11.399H60.903V0H57V14.852H60.904V14.85H81.375C82.01 14.85 82.628 14.735 83.226 14.512C83.803 14.293 84.34 13.981 84.809 13.575C85.268 13.177 85.635 12.701 85.909 12.156C86.196 11.591 86.323 10.982 86.323 10.353C86.323 9.722 86.196 9.12299 85.936 8.54999C85.682 7.99099 85.334 7.493 84.886 7.073C84.427 6.637 83.889 6.311 83.303 6.077C82.674 5.823 82.01 5.70999 81.33 5.70999H67.131V3.487H106.109V11.512L94.475 5.71799C91.778 4.37599 88.75 4.859 88.75 8.41V14.85ZM62.006 20.973H58.029V18.69H62.006V20.973ZM57.02 21.936H61.595C61.782 21.936 61.963 21.905 62.141 21.839C62.309 21.776 62.465 21.686 62.6 21.567C62.733 21.45 62.838 21.311 62.918 21.151C62.998 20.987 63.035 20.809 63.035 20.627V19.014C63.035 18.828 63 18.65 62.92 18.48C62.842 18.324 62.74 18.183 62.607 18.07C62.474 17.949 62.32 17.861 62.156 17.802C61.978 17.734 61.798 17.702 61.611 17.702H57.019V21.936H57.02ZM73.195 21.955V20.909H68.21V20.33H73.195V19.315H68.21V18.699H73.195V17.689H68.698C68.5 17.689 68.299 17.718 68.111 17.781C67.939 17.842 67.781 17.927 67.642 18.045C67.506 18.162 67.4 18.305 67.326 18.465C67.244 18.643 67.213 18.836 67.213 19.031V20.606C67.213 20.795 67.248 20.982 67.33 21.15C67.414 21.311 67.521 21.455 67.658 21.575C67.795 21.697 67.955 21.787 68.131 21.854C68.309 21.917 68.494 21.955 68.686 21.955H73.195ZM83.635 18.695V17.738H78.947C78.755 17.738 78.56 17.767 78.373 17.828C78.193 17.883 78.021 17.967 77.869 18.082C77.723 18.193 77.602 18.329 77.51 18.49C77.415 18.656 77.373 18.838 77.373 19.031C77.373 19.211 77.41 19.388 77.492 19.551C77.568 19.707 77.675 19.85 77.808 19.961C77.943 20.082 78.095 20.17 78.263 20.232C78.437 20.296 78.618 20.33 78.802 20.33H82.913V20.955H77.647V21.935H82.518C82.7 21.935 82.875 21.904 83.043 21.839C83.211 21.776 83.363 21.688 83.495 21.571C83.629 21.458 83.73 21.321 83.809 21.168C83.892 21.005 83.926 20.834 83.926 20.653C83.926 20.473 83.892 20.303 83.816 20.139C83.748 19.981 83.644 19.838 83.519 19.716C83.386 19.594 83.232 19.502 83.066 19.436C82.888 19.362 82.699 19.331 82.505 19.331H78.45V18.694H83.635V18.695ZM89.218 17.701H88.106V21.971H89.218V17.701ZM96.512 19.297V20.313H98.465V20.91H94.385V18.69H99.489V17.702H94.927C94.537 17.702 94.111 17.768 93.79 18.01C93.513 18.222 93.392 18.511 93.392 18.855V20.59C93.392 20.788 93.429 20.984 93.519 21.161C93.607 21.323 93.721 21.46 93.866 21.574C94.015 21.689 94.183 21.774 94.361 21.829C94.549 21.89 94.746 21.919 94.945 21.919H97.869C98.07 21.919 98.267 21.895 98.465 21.841C98.649 21.792 98.82 21.714 98.979 21.603C99.127 21.496 99.25 21.361 99.34 21.199C99.436 21.025 99.475 20.829 99.475 20.628V19.299H96.512V19.297Z"
                                    fill="white" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>